In [119]:
# This converts a fixed width voter file from Allegheny County in 2005-02-cd, to the same format
# as the later files.
# See https://drive.google.com/file/d/1x3UZwL7gmPT7jLJ1dBx3lR0CODjdGLyW/view?usp=sharing for format info
import pandas as pd
import numpy as np
import math

pd.set_option('display.max_columns', 500)

In [30]:
fwidths = [1,6,3,9,15,
           12,1,1,3,5,
           1,6,3,2,2,
           4,1,1,7,6,
           4,2,2,1,6,
           25,5,24,12,
           2,2,2,3,2,
           25,4,2,8,3,
           2,2,12,90]
cnames = ['c0','c1','c2','c3','c4',
          'c5','c6','c7','c8','c9',
          'c10','c11','c12','c13','c14',
          'c15','c16','c17','c18','c19',
          'c20','c21','c22','c23','c24',
          'c25','c26','c27','c28','c29',
          'c30','c31','c32','c33','c34',
          'c35','c36','c37','c38','c39',
          'c40','c41','c42','c43'
         ]

# Modify these values for each new CD
# date_cd_burned is used for fixing up empty Date_Registered and Date_Last_Changed
file_name = 'voters/2005-02-cd/voter_file_020405.txt'
date_cd_burned = "2/7/2005"

df = pd.read_fwf(file_name, widths = fwidths,names = cnames,dtype=np.str)

In [40]:
# Process raw data into interesting column names
voters_addr_cols=['House__', 'HouseNoSuffix', 'StreetNameComplete' ,'City','Zip_Code']

p_colnames=['ID_Number','Voter_Status','Political_Party','Date_Last_Changed','Date_Of_Birth','Date_Registered','Vote_History']

In [41]:
# Format ID number as 9 char-'02'.  I don't know where the -02 comes from, but only 4 entries from 
# the 3 extracts from 2017-2018 differ from that pattern, and in each case they're clearly the same people
# as the other versions have for the matching first 10 chars of the ID with -02.
df['ID_Number'] = df['c3'].apply(lambda x: "%s-02"%(x[0:9]))

In [42]:
# Strip any leading zeroes from c9 to generate house # column HOUSE__
df['House__'] = df['c9'].apply(lambda x: x.lstrip('0'))

In [43]:
df['HouseNoSuffix'] = df['c10'].apply(lambda x: x.strip() if x!='nan' else None)

In [44]:
df['StreetNameComplete'] = df['c25'].apply(lambda x: x.strip() if x!='nan' else None)

In [45]:
df['City'] = df['c27'].apply(lambda x: x.strip())

In [46]:
df['Zip_Code'] = df['c26']

In [47]:
df['Voter_Status'] = df['c23']

In [48]:
df['Political_Party'] = df['c16']

In [59]:
# Find all the rows where 'c19' (proto 'Date_Of_Birth') is malformed.  
# At least for 2005-02, these were all 'nan'
len(df[~df['c19'].str.contains('^\d\d\d\d\d\d$')])

1

In [60]:
df[~df['c19'].str.contains('^\d\d\d\d\d\d$')]

,c0,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11,c12,c13,c14,c15,c16,c17,c18,c19,c20,c21,c22,c23,c24,c25,c26,c27,c28,c29,c30,c31,c32,c33,c34,c35,c36,c37,c38,c39,c40,c41,c42,c43,Date_Last_Changed,Vote_History,ID_Number,House__,HouseNoSuffix,StreetNameComplete,City,Zip_Code,Voter_Status,Political_Party,Date_Of_Birth,Date_Registered
879,nan,012805,010,001402317,FREDERICK,VALERIE,nan,nan,nan,00918,nan,111111,125,02,00,0000,D,nan,84,nan,0495,00,01,A,000000,FIRST AVE,15108,CORAOPOLIS PA,CORAOPOLIS,14,42,45,225,12,CORNELL,0000,63,52,497,02,00,CORAOPOLIS,0000000000000000000000000000000000000000000000...,None,01/28/2005,0000000000000000000000000000000000000000000000...,001402317-02,918,None,FIRST AVE,CORAOPOLIS PA,15108,A,D,na/n/19,04/01/1995

In [61]:
# Don't find any record of this person later on.  Just set Date_Of_Birth arbitrarily.
default_DOB = '01/01/1987'

In [62]:
# DOB is 6 chars in Mo-Da-Yr format.  Can assume year is 19YY since voters are >= 18 yo and this data is from 2009
df['Date_Of_Birth'] = df['c19'].apply(lambda x: default_DOB if (x=='nan' or x=='') else "%s/%s/19%s"%(x[0:2],x[2:4],x[4:6]))

In [50]:
# 'Date_Registered' is 4 chars in Mo-Yr format.  Assume it's 20YY if YY<20
df['Date_Registered'] = df['c20'].apply(lambda x: None if x=='nan' else ("%s/01/19%s"%(x[0:2],x[2:4]) if int(x[2:4]>="20") else "%s/01/20%s"%(x[0:2],x[2:4])))

In [51]:
# Find all the rows where 'c1' (proto 'Date_Last_Changed') is malformed.  
# At least for 2005-02, these were all 'nan'
len(df[~df['c1'].str.contains('^\d\d\d\d\d\d$')])

30941

In [52]:
# 'Date_Last_Changed' is 6 chars in Mo-Da-Yr format.  Assume it's 20YY if YY<20
# In case it's 'nan', use the date of the CD.  See 'date_cd_burned' above.
# Be sure to change this date for processing other CDs
df['Date_Last_Changed'] = df['c1'].apply(lambda x: date_cd_burned if (x=='nan' or x=='') else "%s/%s/19%s"%(x[0:2],x[2:4],x[4:6]) if int(x[4:6])>=20 else "%s/%s/20%s"%(x[0:2],x[2:4],x[4:6]))

In [53]:
# Make sure it worked
df[~df['c1'].str.contains('^\d\d\d\d\d\d$')][['c1','Date_Last_Changed']][0:2]

       c1 Date_Last_Changed
2047  nan          2/7/2005
2049  nan          2/7/2005

In [54]:
# Check for malformed 'c42' (proto 'Vote_History' column)
df[~df['c42'].str.contains('^0000[012]+')]

Empty DataFrame
Columns: [c0, c1, c2, c3, c4, c5, c6, c7, c8, c9, c10, c11, c12, c13, c14, c15, c16, c17, c18, c19, c20, c21, c22, c23, c24, c25, c26, c27, c28, c29, c30, c31, c32, c33, c34, c35, c36, c37, c38, c39, c40, c41, c42, c43, Date_Last_Changed, Vote_History, ID_Number, House__, HouseNoSuffix, StreetNameComplete, City, Zip_Code, Voter_Status, Political_Party, Date_Of_Birth, Date_Registered]
Index: []

In [200]:
# Check for only voted once in 'c42' (proto 'Vote_History' column)
df[df['c42'].str.contains('^00001[02]+$')]

,c0,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11,c12,c13,c14,c15,c16,c17,c18,c19,c20,c21,c22,c23,c24,c25,c26,c27,c28,c29,c30,c31,c32,c33,c34,c35,c36,c37,c38,c39,c40,c41,c42,c43,Date_Last_Changed,Vote_History,ID_Number,House__,HouseNoSuffix,StreetNameComplete,City,Zip_Code,Voter_Status,Political_Party,Date_Of_Birth,Date_Registered,Date_Registered_orig,del_vid,vm_reg_date_bad,vm_reg_date,dob_dr_mismatch
3218,nan,080901,010,001908830,WILLKOMM,RUTH,E,nan,105,00008,nan,111111,116,00,02,0000,D,F,84,080820,0155,00,06,A,000000,SCENERIDGE AVE,15227,PITTSBURGH PA,BRENTWOOD,18,42,36,218,08,BRENTWOOD,0000,33,48,461,00,02,BRENTWOOD,0000122222222222222222222222222222222222222222...,None,08/09/2001,1222222222222222222222222222222222222222222200...,001908830-02,8,None,SCENERIDGE AVE,PITTSBURGH PA,15227,A,D,08/08/1920,01/01/1955,01/01/1955,False,False,01/01/1955,False
9084,nan,091100,010,001918216,GULLA,MARY,J,nan,nan,00231,nan,111111,171,01,04,0000,D,F,84,021621,0956,00,08,A,000000,SPRING RUN DR,15146,MONROEVILLE PA,MONROEVILLE,18,45,25,207,29,GATEWAY,0000,51,199A,681,01,04,MONROEVILLE,0000122222222222222222222222222222222222222222...,None,09/11/2000,1222222222222222222222222222222222222222222200...,001918216-02,231,None,SPRING RUN DR,MONROEVILLE PA,15146,A,D,02/16/1921,09/01/1956,09/01/1956,False,False,None,False
22043,nan,091100,010,001937688,KASPER,JOSEPH,nan,J,nan,00803,nan,111111,222,00,05,0000,N,M,84,032625,0475,00,09,A,000000,EASTMAN ST,15122,WEST MIFFLIN PA,WEST MIFFLIN,14,43,38,214,82,WEST MIFFLIN AREA,0000,31,48,889,00,05,WEST MIFFLIN,0000122222222222222222222222222222222222222222...,None,09/11/2000,1222222222222222222222222222222222222222222200...,001937688-02,803,None,EASTMAN ST,WEST MIFFLIN PA,15122,A,N,03/26/1925,04/01/1975,04/01/1975,False,False,04/01/1975,False
103511,nan,092702,010,002060020,JACKSON,LESLIE,K,nan,nan,05341,nan,111111,188,10,17,0000,D,F,84,120860,0279,09,13,A,000000,ROSETTA ST,15224,PITTSBURGH PA,PITTSBURGH,14,38,21,231,57,PITTSBURGH DISTRICT-3,0700,31,129,753,10,17,PITTSBURGH,0000122222222222222222222222222222222222222222...,None,09/27/2002,1222222222222222222222222222222222222222222200...,002060020-02,5341,None,ROSETTA ST,PITTSBURGH PA,15224,A,D,12/08/1960,02/01/1979,02/01/1979,False,False,02/01/1979,False
106835,nan,091100,010,002064742,GOTTRON,MARLENE,M,nan,nan,00795,nan,111111,179,06,01,0000,N,F,84,030641,1281,00,08,A,000000,DICHICCO DR,15137,NORTH VERSAILLES PA,N VERSAILLES,14,45,34,211,19,EAST ALLEGHENY-REGION 5,0000,31,199A,713,06,01,N VERSAILLES,0000122222222222222222222222222222222222222222...,None,09/11/2000,1222222222222222222222222222222222222222222200...,002064742-02,795,None,DICHICCO DR,NORTH VERSAILLES PA,15137,A,N,03/06/1941,12/01/1981,12/01/1981,False,False,12/01/1981,False
176288,nan,091100,010,002171000,ESPOSITO,JOSEPH,G,nan,nan,06601,nan,111111,188,14,30,0000,D,M,84,071115,0473,05,11,A,000000,LANDVIEW RD,15217,PITTSBURGH PA,PITTSBURGH,14,43,23,235,59,PITTSBURGH DISTRICT-5,1100,22,132,753,14,30,PITTSBURGH,0000122222222222222222222222222222222222222222...,None,09/11/2000,1222222222222222222222222222222222222222222200...,002171000-02,6601,None,LANDVIEW RD,PITTSBURGH PA,15217,A,D,07/11/1915,04/01/1973,04/01/1973,False,False,04/01/1973,False
181671,nan,070301,010,002178174,JORDAN,DONALD,nan,nan,nan,00010,nan,111111,188,22,03,0000,D,M,84,031549,1079,06,13,A,000000,NORTH AVE E,15212,PITTSBURGH PA,PITTSBURGH,14,42,19,240,62,PITTSBURGH DISTRICT-8,2000,11,141,753,22,03,PITTSBURGH,0000122222222222222222222222222222222222222222...,None,07/03/2001,1222222222222222222222222222222222222222222200...,002178174-02,10,None,NORTH AVE E,PITTSBURGH PA,15212,A,D,03/15/1949,10/01/1979,10/01/1979,False,False,10/01/1979,False
243942,nan,080801,010,002273505,MILINSKI,ELIZABETH,J,nan,nan,00340,nan,111111,104,00,12,0000,R,F,84,071125,0958,00,06,A,000000,JOHN ST,15227,PITTSBURGH PA,BALDWIN BR,14,43,36,218,06,BALDWIN-WHITEHALL,0000,32,48,413,00,12,BALDWIN BR,0000122222222222222222222222222222222222222222...,None,08/08/2001,1222222222222222222222222222222222222222222200...,002273505-02,340,None,JOHN ST,PITTSBURGH PA,15227,A,R,07/11/1925,09/01/1958,09/01/1958,False,False,09/01/1958,False
256968,nan,061902,010,002292168,MADDEN,RONALD,nan,nan,nan,00327,nan,111111,188,06,03,0000,D,M,84,051636,0477,07,13,A,000000,THIRTY-EIGHTH ST,15201,PITTSBURGH PA,PITTSBURGH,14,38,20,310,56,PITTSBURGH DISTRICT-2,0400,11,199A,753,06,03,PITTSBURGH,0000122222222222222222222222222222222222222222...,None,06/19/2002,1222222222222222222222222222222222222222222200...,002292168-02,327,None,THIRTY-EIGHTH ST,PITTSBURGH PA,15201,A,D,05/16/1936,04/01/1977,04/01/1977,False,False,None,False
259284,nan,083104,010,002295395,MCELROY,PATRICIA,A,nan,241,00600,nan,111111,179,05,02,0000,D,F,84,050532,0380,00,08,A,000000,LINCOLN HWY,15137,NORTH VERSAILLES PA,N VERSAILLES,14,45,35,211,23,EAST ALLEGHENY-REGION 9,0000,31,199A,713,05,02,N VERSAILLES,0000122222222222222222222222222222222222222222...,None,08/31/2004,1222222222222222222222222222222222222222222200...,002295395-02,600,None,LINCOLN HWY,NORTH VERSAILLES PA,15137,A,D,05/05/1932,03/01/1980,03/01/1980,False,False,None,False
313499,nan,091100,010,002377431,FARRAR,ROBERT,J,nan,nan,05253,nan,111111,222,00,21,0000,D,M,84,111141,0463,00,09,A,000000,GLENBURN DR,15236,PITTSBURGH PA,WEST MIFFLIN,14,43,38,214,82,WEST MIFFLIN AREA,0000,31,48,889,00,21,WEST MIFFLIN,0000122222222222222222222222222222222222222222...,None,09/11/2000,1222222222222222222222222222222222222222222200...,002377431-02,5253,None,GLENBURN DR,PITTSBURGH PA,15236,A,D,11/11/1941,04/01/1963,04/01/1963,False,False,04/01/1963,False
390580,nan,091100,010,002493747,STOBERT,JANE,V,nan,nan,00933,nan,111111,112,03,00,0000,D,F,84,110716,0963,00,03,A,000000,NINTH AVE,15014,BRACKENRIDGE PA,BRACKENRIDGE,04,45,33,205,32,HIGHLANDS - REGION 2,0000,43,110,445,03,00,BRACKENRIDGE,0000122222222222222222222222222222222222222222...,None,09/11/2000,1222222222222222222222222222222222222222222200...,002493747-02,933,None,NINTH AVE,BRACKENRIDGE PA,15014,A,D,11/07/1916,09/01/1963,09/01/1963,False,False,None,False
471809,nan,101001,010,002616828,LOCKE,JUANITA,nan,nan,203,02960,nan,111111,110,07,02,0000,D,F,84,122420,0857,00,05,A,000000,BETHEL CHURCH RD,15102,BETHEL PARK PA,BETHEL PARK,18,37,42,220,07,BETHEL PARK,0000,41,55,437,07,02,BETHEL PARK,0000122222222222222222222222222222222222222222...,None,10/10/2001,1222222222222222222222222222222222222222222200...,002616828-02,2960,None,BETHEL CHURCH RD,BETHEL PARK PA,15102,A,D,12/24/1920,08/01/1957,08/01/1957,False,False,None,False
496339,nan,060602,010,002653064,SMITH,COLLUS,C,nan,nan,00257,nan,111111,228,03,04,0000,D,M,84,053036,0583,00,10,A,000000,KELLY AVE,15221,PITTSBURGH PA,WILKINSBURG,14,38,24,210,83,WILKINSBURG,0000,11,33,913,03,04,WILKINSBURG,0000122222222222222222222222222222222222222222...,None,06/06/2002,1222222222222222222222222222222222222222222200...,002653064-02,257,None,KELLY AVE,PITTSBURGH PA,15221,A,D,05/30/1936,05/01/1983,05/01/1983,False,False,05/01/1983,False
546795,nan,091100,010,002729868,CLAUS,FRANCES,W,nan,nan,01211,nan,111111,128,00,07,0000,R,F,84,072724,0965,00,12,A,000000,KELTON AVE,15216,PITTSBURGH PA,DORMONT,18,42,27,219,35,KEYSTONE OAKS - REGION 2,0000,43,14,509,00,07,DORMONT,0000122222222222222222222222222222222222222222...,None,09/11/2000,1222222222222222222222222222222222222222222200...,002729868-02,1211,None,KELTON AVE,PITTSBURGH PA,15216,A,R,07/27/1924,09/01/1965,09/01/1965,False,False,09/01/1965,False
574003,nan,121197,010,002770170,KAERCHER,LINDA,L,nan,nan,00027,nan,111111,188,19,09,0000,D,F,84,093062,0483,02,12,A,000000,NORTON ST,15211,PITTSBURGH PA,PITTSBURGH,14,42,22,238,60,PITTSBURGH DISTRICT-6,1604,11,137,753,19,09,PITTSBURGH,0000122222222222222222222222222222222222222222...,None,12/11/1997,1222222222222222222222222222222222222222222200...,002770170-02,27,None,NORTON ST,PITTSBURGH PA,15211,A,D,09/30/1962,04/01/1983,04/01/1983,False,False,None,False
622263,nan,032499,010,002844241,OMALLEY,RICHARD,M,nan,nan,00239,nan,111111,104,00,07,0000,D,M,84,042223,0749,00,06,A,000000,JUNE DR,15236,PITTSBURGH PA,BALDWIN BR,18,43,38,218,06,BALDWIN-WHITEHALL,0000,32,48,413,00,07,BALDWIN BR,0000122222222222222222222222222222222222222222...,None,03/24/1999,1222222222222222222222222222222222222222222200...,002844241-02,239,None,JUNE DR,PITTSBURGH PA,15236,A,D,04/22/1923,07/01/1949,07/01/1949,False,False,07/01/1949,False
633472,nan,092000,010,002862292,POTTS,SANDRA,J,nan,nan,00307,nan,111111,188,30,05,0000,D,F,84,092142,0968,03,12,A,000000,SUNCREST ST,15210,PITTSBURGH PA,PITTSBURGH,14,42,36,315,61,PITTSBURGH DISTRICT-7,1509,11,140,753,30,05,PITTSBURGH,0000122222222222222222222222222222222222222222...,None,09/20/2000,1222222222222222222222222222222222222222222200...,002862292-02,307,None,SUNCREST ST,PITTSBURGH PA,15210,A,D,09/21/1942,09/01/1968,09/01/1968,False,False,09/01/1968,False
637267,nan,091100,010,002868254,PAVLOVICH,MILDRED,nan,nan,nan,02223,nan,111111,226,00,04,0000,D,F,84,061828,0857,00,09,A,000000,PLEASANT DR,15131,MCKEESPORT PA,WHITE OAK,18,45,35,305,37,MC KEESPORT AREA,0000,32,02,905,00,04,WHITE OAK,0000122222222222222222222222222222222222222222...,None,09/11/2000,1222222222222222222222222222222222222222222200...,002868254-02,2223,None,PLEASANT DR,MCKEESPORT PA,15131,A,D,06/18/1928,08/01/1957,08/01/1957,False,False,08/01/1957,False
641984,nan,010798,010,002874419,KASPER,PAULINE,H,nan,nan,00803,nan,111111,222,00,05,0000,R,F,84,011826,0475,00,09,A,000000,EASTMAN ST,15122,WEST MIFFLIN PA,WEST MIFFLIN,14,43,38,214,82,WEST MIFFLIN AREA,0000,31,48,889,00,05,WEST MIFFLIN,0000122222222222222222222222222222222222222222...,None,01/07/1998,1222222222222222222222222222222222222222222200...,002874419-02,803,None,EASTMAN ST,WEST MIFFLIN PA,15122,A,R,01/18/1926,04/01/1975,04/01/1975,False,False,04/01/1975,False
649693,nan,091100,010,002885100,GUARINO,MARGARET,nan,nan,nan,00125,nan,111111,188,18,01,0000,D,F,84,062930,0482,04,13,A,000000,SCHUCKERT ST,15210,PITTSBURGH PA,PITTSBURGH,14,42,36,315,61,PITTSBURGH DISTRICT-7,1507,12,140,753,18,01,PITTSBURGH,0000122222222222222222222222222222222222222222...,None,09/11/2000,1222222222222222222222222222222222222222222200...,002885100-02,125,None,SCHUCKERT ST,PITTSBURGH PA,15210,A,D,06/29/1930,04/01/1982,04/01/1982,False,False,04/01/1982,False
703893,nan,092398,010,002968032,SANDUSKY,MARIAN,L,nan,nan,01406,nan,111111,226,00,02,0000,D,F,84,052526,0964,00,09,A,000000,FAWCETT AVE,15131,MCKEESPORT PA,WHITE OAK,18,45,35,305,37,MC KEESPORT AREA,0000,32,02,905,00,02,WHITE OAK,0000122222222222222222222222222222222222222222...,None,09/23/1998,1222222222222222222222222222222222222222222200...,002968032-02,1406,None,FAWCETT AVE,MCKEESPORT PA,15131,A,D,05/25/1926,09/01/1964,09/01/1964,False,False,None,False
710315,nan,101001,010,002978616,HARRIS,GWEN,nan,nan,nan,00307,nan,111111,196,09,02,0000,D,F,84,092410,1039,00,01,A,000000,LINCOLN AVE,15237,PITTSBURGH PA,ROSS,04,40,16,202,51,NORTH HILLS,0000,63,10,785,09,02,ROSS,0000122222222222222222222222222222222222222222...,None,10/10/2001,1222222222222222222222222222222222222222222200...,002978616-02,307,None,LINCOLN AVE,PITTSBURGH PA,15237,A,D,09/24/1910,10/01/1939,10/01/1939,False,False,10/01/1939,False
712583,nan,091100,010,002982064,WHITE,CHARLES,R,nan,nan,00606,nan,111111,202,03,05,0000,R,M,84,081536,0968,00,03,A,000000,FLINT RD,15101,ALLISON PARK PA,SHALER,04,40,30,203,70,SHALER AREA - REGION 2,0000,52,199A,809,03,05,SHALER,0000122222222222222222222222222222222222222222...,None,09/11/2000,1222222222222222222222222222222222222222222200...,002982064-02,606,None,FLINT RD,ALLISON PARK PA,15101,A,R,08/15/1936,09/01/1968,09/01/1968,False,False,09/01/1968,False
727031,nan,060602,010,003002104,HOLLIDAY,JOAN,L,nan,nan,02210,nan,111111,192,02,00,0000,D,F,84,041542,0482,00,08,A,000000,PALISADES MANOR,15104,BRADDOCK PA,RANKIN,14,45,34,209,42,WOODLAND HILLS - REG. 2,0000,43,199A,769,02,00,RANKIN,0000122222222222222222222222222222222222222222...,None,06/06/2002,1222222222222222222222222222222222222222222200...,003002104-02,2210,None,PALISADES MANOR,BRADDOCK PA,15104,A,D,04/15/1942,04/01/1982,04/01/1982,False,False,None,False
727315,nan,042199,010,003002541,DAWSO,SHIRLEY,C,nan,nan,02013,nan,111111,159,00,06,0000,D,F,84,040433,0882,00,04,A,000000,CUTTER DR,15136,MCKEES ROCKS PA,KENNEDY,14,42,45,306,91,MONTOUR - REGION 3,0000,63,199A,633,00,06,KENNEDY,0000122222222222222222222222222222222222222222...,None,04/21/1999,1222222222222222222222222222222222222222222200...,003002541-02,2013,None,CUTTER DR,MCKEES ROCKS PA,15136,A,D,04/04/1933,08/01/1982,08/01/1982,False,False,08/01/1982,False
728521,nan,011002,010,003004313,CLARK,GEORGE,nan,nan,312,02212,nan,111111,114,00,01,0000,D,M,84,040546,0483,00,08,A,000000,BRINTON MANOR DR,15221,PITTSBURGH PA,BRADDOCK HL,14,43,34,209,44,WOODLAND HILLS - REG. 4,0000,43,121,453,00,01,BRADDOCK HL,0000122222222222222222222222222222222222222222...,None,01/10/2002,1222222222222222222222222222222222222222222200...,003004313-02,2212,None,BRINTON MANOR DR,PITTSBURGH PA,15221,A,D,04/05/1946,04/01/1983,04/01/1983,False,False,04/01/1983,False

In [55]:
# Create 'Vote_History' column by stripping away the first 4 filler characters 
# from 'c42'.  See 'Voter List Instructions' file in Google Drive Folder 
# (https://drive.google.com/drive/folders/1Dp79JX6LUp17gFAabPmJGuY1MP6TpKKk) for details
df['Vote_History'] = df['c42'].str.replace('^0000','',regex=True)

In [188]:
# Go deal with the "Additional cleanup below section and come back here when done"

In [189]:
# Clean up for saving
save_colnames = p_colnames + voters_addr_cols

In [190]:
df_out = df[save_colnames]

In [191]:
df_out_pathname = "voters/2005-02-cd/VOTERS02_07_2005.TXT"
df_out.to_csv(df_out_pathname,sep="\t")

In [ ]:
# Additional cleanup below

In [56]:
df[['c3','ID_Number','c9','House__', 'c10','HouseNoSuffix','StreetNameComplete','City','Zip_Code','Voter_Status','c19','Date_Of_Birth','c20','Date_Registered','c1','Date_Last_Changed']][0:5]

,c3,ID_Number,c9,House__,c10,HouseNoSuffix,StreetNameComplete,City,Zip_Code,Voter_Status,c19,Date_Of_Birth,c20,Date_Registered,c1,Date_Last_Changed
0,001002451,001002451-02,05847,5847,nan,None,MERIDIAN RD,GIBSONIA PA,15044,A,032618,03/26/1918,0151,01/01/1951,011205,01/12/2005
1,001015655,001015655-02,00203,203,nan,None,HUGEL DR,PITTSBURGH PA,15209,A,012243,01/22/1943,0172,01/01/1972,101403,10/14/2003
2,001023473,001023473-02,03111,3111,nan,None,SQUIRES MANOR LN,SOUTH PARK PA,15129,A,011170,01/11/1970,1096,10/01/1996,101204,10/12/2004
3,001024003,001024003-02,01927,1927,nan,None,MURRAY AVE,PITTSBURGH PA,15217,A,021077,02/10/1977,1096,10/01/1996,100504,10/05/2004
4,001024171,001024171-02,00106,106,nan,None,LINDEN AVE S,PITTSBURGH PA,15208,A,090453,09/04/1953,1096,10/01/1996,040704,04/07/2004

In [39]:
df[0:5]

,c0,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11,c12,c13,c14,c15,c16,c17,c18,c19,c20,c21,c22,c23,c24,c25,c26,c27,c28,c29,c30,c31,c32,c33,c34,c35,c36,c37,c38,c39,c40,c41,c42,c43,Date_Last_Changed,Vote_History
0,nan,011205,010,001002451,FAGER,ELISABETH,R,nan,110,05847,nan,111111,194,00,01,0000,R,nan,84,032618,0151,00,02,A,000000,MERIDIAN RD,15044,GIBSONIA PA,RICHLAND,04,40,28,246,04,PINE-RICHLAND - REGION 2,1941,42,113,777,00,01,RICHLAND,0000000000000000000000000000000000000000000000...,None,01/12/2005,0000000000000000000000000000000000000000000100...
1,nan,101403,010,001015655,EVANS,RICHARD,W,nan,nan,00203,nan,111111,202,01,05,0000,D,M,84,012243,0172,00,03,A,000000,HUGEL DR,15209,PITTSBURGH PA,SHALER,04,40,21,203,70,SHALER AREA - REGION 2,0000,52,199A,809,01,05,SHALER,0000000000000000000000000000000000000000000001...,None,10/14/2003,0000000000000000000000000000000000000000012100...
2,nan,101204,010,001023473,WOLFE,CHARLES,R,nan,nan,03111,nan,111111,205,00,09,0000,R,M,84,011170,1096,00,06,A,000000,SQUIRES MANOR LN,15129,SOUTH PARK PA,SOUTH PARK,18,37,39,216,74,SOUTH PARK,0000,33,199A,821,00,09,SOUTH PARK,0000000000000000000000000000000000000000000000...,None,10/12/2004,0000000000000000000000000000000000000000002100...
3,nan,100504,010,001024003,KLEIN,ERICH,M,nan,26,01927,nan,111111,188,14,34,0000,N,M,84,021077,1096,05,11,A,000000,MURRAY AVE,15217,PITTSBURGH PA,PITTSBURGH,14,43,23,235,58,PITTSBURGH DISTRICT-4,1100,22,199A,753,14,34,PITTSBURGH,0000000000000000000000000000000000000000000000...,None,10/05/2004,0000000000000000000000000000000000000000000100...
4,nan,040704,010,001024171,MCNULTY,SALLY,B,nan,nan,00106,nan,111111,188,14,10,0000,D,nan,84,090453,1096,08,11,A,000000,LINDEN AVE S,15208,PITTSBURGH PA,PITTSBURGH,14,43,23,235,55,PITTSBURGH DISTRICT-1,1200,22,132,753,14,10,PITTSBURGH,0000000000000000000000000000000000000000000000...,None,04/07/2004,0000000000000000000000000000000000000000001100...

In [57]:
df[df['c10']!='nan'][['c10','HouseNoSuffix']][0:5]

    c10 HouseNoSuffix
116   J             J
170   5             5
263   D             D
288   5             5
329   5             5

In [85]:
# Sanity check 'Date_Registered' and 'Date_Of_Birth'.  Result should be empty
dob_dr_mismatch = pd.to_datetime(df['Date_Registered'])<pd.to_datetime(df['Date_Of_Birth'])
df[dob_dr_mismatch][['ID_Number','c19','Date_Of_Birth','c20','Date_Registered']]

           ID_Number     c19 Date_Of_Birth   c20 Date_Registered
712     001381155-02  060372    06/03/1972  0566      05/01/1966
2139    001907192-02  082546    08/25/1946  0846      08/01/1946
3185    001908780-02  101639    10/16/1939  0822      08/01/1922
8284    001916973-02  012599    01/25/1999  0949      09/01/1949
10702   001920986-02  061725    06/17/1925  0425      04/01/1925
12919   001924580-02  062243    06/22/1943  0634      06/01/1934
13477   001925489-02  041999    04/19/1999  0852      08/01/1952
13734   001925869-02  052628    05/26/1928  0822      08/01/1922
15340   001928263-02  112044    11/20/1944  1037      10/01/1937
15593   001928625-02  031227    03/12/1927  0920      09/01/1920
17627   001931915-02  061373    06/13/1973  0758      07/01/1958
23961   001940245-02  091480    09/14/1980  1076      10/01/1976
35677   001957693-02  111284    11/12/1984  1084      10/01/1984
42239   001970499-02  092898    09/28/1998  1089      10/01/1989
65257   002007374-02  060599    06/05/1999  0499      04/01/1999
79666   002024372-02  101578    10/15/1978  0844      08/01/1944
84722   002032315-02  031549    03/15/1949  0739      07/01/1939
86560   002035252-02  082737    08/27/1937  0832      08/01/1932
93924   002047283-02  032842    03/28/1942  0823      08/01/1923
94404   002048038-02  051629    05/16/1929  0826      08/01/1926
104650  002061624-02  082683    08/26/1983  0480      04/01/1980
109885  002069313-02  021785    02/17/1985  0384      03/01/1984
131275  002107655-02  092197    09/21/1997  1095      10/01/1995
133655  002111394-02  070396    07/03/1996  0796      07/01/1996
134965  002113499-02  111096    11/10/1996  1096      10/01/1996
136985  002116664-02  041697    04/16/1997  0497      04/01/1997
141702  002123100-02  111199    11/11/1999  0199      01/01/1999
158201  002143145-02  020299    02/02/1999  0858      08/01/1958
160859  002147415-02  020833    02/08/1933  0831      08/01/1931
161705  002148766-02  031480    03/14/1980  0361      03/01/1961
...              ...     ...           ...   ...             ...
754222  003049257-02  111296    11/12/1996  0996      09/01/1996
759022  003056588-02  090199    09/01/1999  0298      02/01/1998
759225  003056854-02  042598    04/25/1998  0398      03/01/1998
762592  003061239-02  062599    06/25/1999  0499      04/01/1999
777493  004101054-02  102570    10/25/1970  1070      10/01/1970
779309  004744449-02  022678    02/26/1978  0261      02/01/1961
779427  004757117-02  051080    05/10/1980  0580      05/01/1980
779462  004761375-02  101371    10/13/1971  1071      10/01/1971
781215  011736897-02  110180    11/01/1980  0179      01/01/1979
781905  013351098-02  040673    04/06/1973  0421      04/01/1921
782145  013586018-02  020372    02/03/1972  0950      09/01/1950
782985  020006730-02  051079    05/10/1979  0579      05/01/1979
792151  020042837-02  041662    04/16/1962  0462      04/01/1962
793593  020045391-02  061285    06/12/1985  0185      01/01/1985
796337  020050543-02  101983    10/19/1983  1083      10/01/1983
799439  020069536-02  021664    02/16/1964  0264      02/01/1964
801645  020078476-02  031585    03/15/1985  0285      02/01/1985
803711  020094327-02  111767    11/17/1967  1167      11/01/1967
818501  020189355-02  121483    12/14/1983  1283      12/01/1983
818601  020189655-02  061176    06/11/1976  0676      06/01/1976
818838  020190590-02  040368    04/03/1968  0468      04/01/1968
818925  020190937-02  100685    10/06/1985  1085      10/01/1985
819218  020192500-02  012159    01/21/1959  0159      01/01/1959
819359  020193030-02  061762    06/17/1962  0662      06/01/1962
819433  020193284-02  080385    08/03/1985  0885      08/01/1985
819545  020193733-02  080265    08/02/1965  0865      08/01/1965
819610  020193967-02  090685    09/06/1985  0985      09/01/1985
819660  020194239-02  061485    06/14/1985  0685      06/01/1985
820890  020199681-02  100384    10/03/1984  0684      06/01/1984
822811  020208175-02  040672    04/06/1972  0472      04/01/1972

[224 rows x 5 columns]

In [84]:
len(dob_dr_mismatch)

876786

In [66]:
# Sanity check 'Date_Registered' and 'Date_Of_Birth'.  Result should be empty
df[df['Date_Registered'].str.contains("na") | df['Date_Of_Birth'].str.contains("na")][['c19','Date_Of_Birth','c20','Date_Registered']]

Empty DataFrame
Columns: [c19, Date_Of_Birth, c20, Date_Registered]
Index: []

In [67]:
# Try to load voter_map 
#   voter_map_17_18_18.pickle has 'reg_date' as a string
#   voter_map_17_18_18_b.pickle has 'reg_date' converted to datetime
#   voter_map_09_17_18_18_c.pickle has data from 2009-07
#   voter_map_09_17_18_18_d.pickle has census_block info (full for 15213, partial for all, need to do TODO addresses)
#   voter_map_09_17_18_18_e.pickle has census_block info for all
#   voter_map_09_17_18_18_f.pickle has census_block latlon info for all

import pickle
voter_map_file_path = 'voters/voter_map_09_17_18_18_f.pickle'

In [68]:
# Load in voter_map
with open(voter_map_file_path, 'rb') as handle:
    voter_map = pickle.load(handle)

In [69]:
no_reg_df = df[pd.isna(df['Date_Registered'])]

In [70]:
voter_map['020208175-02']['reg_date'].strftime('%m/%d/%Y')

'04/16/1972'

In [71]:
voter_map['020208175-02']

{'DOB': '4/6/1972',
 'addr_arr': [{'address': '2007 TERMON AVE PITTSBURGH PA 15212',
   'census_block': u'420032701002021',
   'date': datetime.datetime(1972, 4, 16, 0, 0),
   'latlon': <shapely.geometry.point.Point at 0x7f1e82fbd3d0>},
  {'address': '2005 TERMON AVE PITTSBURGH PA 15212',
   'census_block': u'420032701002021',
   'date': datetime.datetime(2017, 11, 30, 0, 0),
   'latlon': <shapely.geometry.point.Point at 0x7f1e82fbd490>}],
 'addresses': {'2009-07': '2007 TERMON AVE PITTSBURGH PA 15212',
  '2017-11': '2005 TERMON AVE PITTSBURGH PA 15212',
  '2018-03': '2005 TERMON AVE PITTSBURGH PA 15212',
  '2018-08': '2005 TERMON AVE PITTSBURGH PA 15212'},
 'reg_date': datetime.datetime(1972, 4, 16, 0, 0),
 'reg_info': {'2009-07': {'party': 'M', 'status': 'A'},
  '2017-11': {'party': 'D', 'status': 'A'},
  '2018-03': {'party': 'D', 'status': 'A'},
  '2018-08': {'party': 'D', 'status': 'A'}}}

In [86]:
df_ddm = df[dob_dr_mismatch].reset_index()

In [125]:
import dateparser
not_in_vid = set()

= set()

# Check each entry in dob_dr_mismatch against voter_map
for i in range(0,len(df_ddm)):
    vid = df_ddm['ID_Number'].iloc[i]
    dob_dr_mismatch_set.add(vid)
    if(vid in voter_map):
        s_reg_date = voter_map[vid]['reg_date'].strftime('%m/%d/%Y')
        print "%s: %10s %10s %5s %10s %10s %5s" % (vid,voter_map[vid]['DOB'], df_ddm['Date_Of_Birth'].iloc[i],
                                   'MATCH' if (dateparser.parse(voter_map[vid]['DOB']) == dateparser.parse(df_ddm['Date_Of_Birth'].iloc[i])) else '',
                                   s_reg_date, df_ddm['Date_Registered'].iloc[i], 
                                   'MATCH' if (voter_map[vid]['reg_date'] == dateparser.parse(df_ddm['Date_Registered'].iloc[i])) else ''
                                  )
    else:
        not_in_vid.add(vid)

for vid in not_in_vid:
    print "%s: %10s %10s %5s %10s %10s %5s" % (vid,'', df_ddm['Date_Of_Birth'].iloc[i],
                               '',
                               '', df_ddm['Date_Registered'].iloc[i], 
                               ''
                              )

001908780-02: 10/16/1939 10/16/1939 MATCH 08/01/1922 08/01/1922 MATCH
001920986-02: 06/17/1925 06/17/1925 MATCH 04/01/1925 04/01/1925 MATCH
001924580-02:  6/22/1943 06/22/1943 MATCH 06/01/1934 06/01/1934 MATCH
001925869-02: 05/26/1928 05/26/1928 MATCH 08/01/1922 08/01/1922 MATCH
001928263-02: 11/20/1944 11/20/1944 MATCH 10/01/1937 10/01/1937 MATCH
001928625-02: 03/12/1927 03/12/1927 MATCH 09/01/1920 09/01/1920 MATCH
001931915-02:  6/13/1973 06/13/1973 MATCH 07/01/1958 07/01/1958 MATCH
001957693-02: 11/12/1984 11/12/1984 MATCH 10/01/1984 10/01/1984 MATCH
002007374-02:   6/5/1899 06/05/1999       04/01/1999 04/01/1999 MATCH
002024372-02: 10/15/1978 10/15/1978 MATCH 08/01/1944 08/01/1944 MATCH
002032315-02:  3/15/1949 03/15/1949 MATCH 07/01/1939 07/01/1939 MATCH
002035252-02:  8/27/1937 08/27/1937 MATCH 08/01/1932 08/01/1932 MATCH
002047283-02:  3/28/1942 03/28/1942 MATCH 08/01/1923 08/01/1923 MATCH
002061624-02:  8/26/1983 08/26/1983 MATCH 04/01/1980 04/01/1980 MATCH
002107655-02:  9/21/1977 09/21/1997       10/01/1995 10/01/1995 MATCH
002111394-02:   7/3/1896 07/03/1996       07/01/1996 07/01/1996 MATCH
002116664-02:  4/16/1897 04/16/1997       04/01/1997 04/01/1997 MATCH
002123100-02: 11/11/1999 11/11/1999 MATCH 01/01/1999 01/01/1999 MATCH
002143145-02: 02/02/1999 02/02/1999 MATCH 08/01/1958 08/01/1958 MATCH
002147415-02:   2/8/1933 02/08/1933 MATCH 08/01/1931 08/01/1931 MATCH
002148766-02:  3/14/1980 03/14/1980 MATCH 03/01/1961 03/01/1961 MATCH
002151329-02:   9/8/1937 09/08/1937 MATCH 08/01/1931 08/01/1931 MATCH
002151415-02: 11/16/1930 11/16/1930 MATCH 08/01/1921 08/01/1921 MATCH
002154602-02: 10/29/1894 10/29/1994       09/01/1945 09/01/1945 MATCH
002157729-02:  5/27/1941 05/27/1941 MATCH 03/01/1936 03/01/1936 MATCH
002157833-02:  5/26/1942 05/26/1942 MATCH 05/01/1964 05/01/1934
002163988-02: 11/21/1931 11/21/1931 MATCH 08/01/1928 08/01/1928 MATCH
002171986-02:   1/4/1957 12/22/1982       04/01/1975 04/01/1975 MATCH
002174373-02: 10/18/1976 10/18/1976 MATCH 10/01/1976 10/01/1976 MATCH
002184661-02:   6/1/1983 06/01/1983 MATCH 04/01/1983 04/01/1983 MATCH
002187999-02: 09/29/1984 09/29/1984 MATCH 06/01/1984 06/01/1984 MATCH
002208382-02:  7/18/1961 07/18/1991       06/01/1991 06/01/1991 MATCH
002233418-02:   5/7/1979 05/07/1999       04/01/1997 04/01/1997 MATCH
002261293-02:  8/16/1935 08/16/1956       08/01/1956 08/01/1956 MATCH
002262554-02:  1/17/1938 01/17/1938 MATCH 03/01/1928 03/01/1928 MATCH
002267278-02: 07/17/1997 07/17/1997 MATCH 08/01/1946 08/01/1946 MATCH
002267930-02: 02/28/1997 02/28/1997 MATCH 07/01/1937 07/01/1937 MATCH
002280231-02:   7/7/1943 07/07/1943 MATCH 08/01/1927 08/01/1927 MATCH
002291294-02:  1/21/1977 01/21/1977 MATCH 10/01/1976 10/01/1976 MATCH
002292395-02:  4/16/1977 04/16/1977 MATCH 04/01/1977 04/01/1977 MATCH
002303561-02: 11/25/1995 11/25/1995 MATCH 03/01/1984 03/01/1984 MATCH
002344339-02: 08/20/1996 08/20/1996 MATCH 04/01/1996 04/01/1996 MATCH
002347908-02:  10/3/1968 10/03/1996       10/01/1996 10/01/1996 MATCH
002353993-02:  12/4/1979 12/04/1998       03/01/1998 03/01/1998 MATCH
002361053-02:  12/4/1899 12/04/1999       12/01/1999 12/01/1999 MATCH
002376012-02: 03/22/1994 03/22/1994 MATCH 02/01/1952 02/01/1952 MATCH
002376551-02: 10/18/1999 10/18/1999 MATCH 06/01/1938 06/01/1938 MATCH
002377600-02: 11/11/1926 11/11/1926 MATCH 05/01/1921 05/01/1921 MATCH
002377821-02: 07/06/1982 07/06/1982 MATCH 08/01/1946 08/01/1946 MATCH
002378271-02:  5/24/1926 05/24/1926 MATCH 07/01/1922 07/01/1922 MATCH
002379923-02:  6/28/1929 06/28/1929 MATCH 08/01/1925 08/01/1925 MATCH
002381088-02: 07/19/1928 07/19/1928 MATCH 08/01/1920 08/01/1920 MATCH
002387109-02: 06/15/1998 06/15/1998 MATCH 09/01/1940 09/01/1940 MATCH
002388302-02:  8/27/1946 08/27/1946 MATCH 05/01/1934 05/01/1934 MATCH
002389073-02: 02/08/1999 02/08/1999 MATCH 10/01/1944 10/01/1944 MATCH
002389792-02:   6/3/1931 06/03/1931 MATCH 08/01/1923 08/01/1923 MATCH
002389932-02:  8/24/1929 08/24/1929 MATCH 08/01/1926 08/01/1926 MATCH
002390398-02: 08/03/1926 08/03/1926 MATCH 08/01/1926 08/01/1926 MATCH
002393585-02:  4/28/1941 04/28/1941 MATCH 08/01/1930 08/01/1930 MATCH
002393634-02:  5/15/1947 05/15/1947 MATCH 01/01/1936 01/01/1936 MATCH
002395050-02: 10/25/1942 10/25/1942 MATCH 08/01/1942 08/01/1942 MATCH
002396727-02:  3/26/1945 03/26/1945 MATCH 08/01/1929 08/01/1929 MATCH
002408659-02:  10/3/1944 10/03/1976       10/01/1976 10/01/1976 MATCH
002410991-02: 10/26/1983 10/26/1983 MATCH 10/01/1978 10/01/1978 MATCH
002427032-02: 11/25/1957 11/25/1986       03/01/1986 03/01/1986 MATCH
002440748-02: 10/15/1972 10/15/1990       10/01/1990 10/01/1990 MATCH
002460590-02: 02/10/1996 02/10/1996 MATCH 02/01/1996 02/01/1996 MATCH
002461753-02:  5/14/1964 05/14/1996       05/01/1996 05/01/1996 MATCH
002475105-02:  7/28/1899 07/28/1999       04/01/1999 04/01/1999 MATCH
002492624-02: 11/23/1927 11/23/1927 MATCH 09/01/1922 09/01/1922 MATCH
002493451-02: 12/22/1998 12/22/1998 MATCH 07/01/1937 07/01/1937 MATCH
002494275-02: 11/28/1948 11/28/1948 MATCH 08/01/1948 08/01/1948 MATCH
002494960-02:  7/16/1962 07/16/1962 MATCH 07/01/1947 07/01/1947 MATCH
002500852-02: 12/07/1929 12/07/1929 MATCH 08/01/1920 08/01/1920 MATCH
002504535-02:  2/26/1943 02/26/1943 MATCH 05/01/1934 05/01/1934 MATCH
002505163-02: 12/28/1982 12/28/1982 MATCH 03/01/1962 03/01/1962 MATCH
002508899-02: 08/23/1952 08/23/1952 MATCH 09/01/1944 09/01/1944 MATCH
002508908-02:  2/14/1943 02/14/1943 MATCH 09/01/1934 09/01/1934 MATCH
002509728-02: 10/28/1899 10/28/1999       02/01/1932 02/01/1932 MATCH
002510346-02: 08/31/1933 12/04/1983       09/01/1957 09/01/1957 MATCH
002511740-02: 07/13/1939 07/13/1939 MATCH 03/01/1937 03/01/1937 MATCH
002525693-02: 10/26/1976 10/26/1976 MATCH 10/01/1976 10/01/1976 MATCH
002529045-02:  11/9/1979 11/09/1979 MATCH 10/01/1979 10/01/1979 MATCH
002529488-02: 08/02/1984 08/02/1984 MATCH 03/01/1980 03/01/1980 MATCH
002543450-02:  10/5/1985 10/05/1985 MATCH 06/01/1985 06/01/1985 MATCH
002556872-02:  4/14/1890 04/14/1990       04/01/1990 04/01/1990 MATCH
002568118-02: 12/11/1947 12/11/1997       10/01/1992 10/01/1992 MATCH
002583966-02:  2/24/1897 02/24/1997       02/01/1997 02/01/1997 MATCH
002614704-02:  3/12/1942 03/12/1942 MATCH 08/01/1921 08/01/1921 MATCH
002614715-02: 01/10/1929 01/10/1929 MATCH 02/01/1921 02/01/1921 MATCH
002614878-02: 06/09/1933 06/09/1933 MATCH 06/01/1927 06/01/1927 MATCH
002622987-02: 09/12/1999 09/12/1999 MATCH 03/01/1952 03/01/1952 MATCH
002624564-02:  4/26/1940 04/26/1940 MATCH 03/01/1926 03/01/1926 MATCH
002625067-02: 07/20/1924 07/13/1971       03/01/1960 03/01/1960 MATCH
002626793-02:   5/5/1926 05/05/1926 MATCH 08/01/1923 08/01/1923 MATCH
002626839-02: 11/18/1946 11/18/1946 MATCH 03/01/1946 03/01/1946 MATCH
002629566-02:  7/13/1971 07/13/1971 MATCH 09/01/1960 09/01/1960 MATCH
002631664-02:  3/27/1945 08/25/1978       08/01/1967 08/01/1967 MATCH
002650503-02:  9/24/1983 09/24/1983 MATCH 04/01/1982 04/01/1982 MATCH
002682658-02:  8/29/1899 08/29/1999       09/01/1992 09/01/1992 MATCH
002683054-02:  11/2/1893 11/02/1993       09/01/1992 09/01/1992 MATCH
002707559-02: 10/24/1998 10/24/1998 MATCH 10/01/1998 10/01/1998 MATCH
002728013-02: 07/13/1971 07/13/1971 MATCH 02/01/1964 02/01/1964 MATCH
002732177-02: 02/24/1926 02/24/1966       08/01/1955 08/01/1955 MATCH
002734263-02:   8/8/1934 08/08/1934 MATCH 08/01/1934 08/01/1934 MATCH
002734627-02: 10/24/1933 10/24/1933 MATCH 08/01/1921 08/01/1921 MATCH
002740656-02:  8/27/1954 08/27/1954 MATCH 07/01/1935 07/01/1935 MATCH
002771844-02: 10/15/1985 10/15/1985 MATCH 02/01/1984 02/01/1984 MATCH
002794938-02: 10/27/1891 10/27/1991       10/01/1991 10/01/1991 MATCH
002846555-02: 01/30/1937 01/30/1937 MATCH 08/01/1931 08/01/1931 MATCH
002846770-02: 01/30/1982 01/30/1982 MATCH 08/01/1956 08/01/1956 MATCH
002851030-02:   5/1/1946 05/01/1946 MATCH 08/01/1935 08/01/1935 MATCH
002854120-02: 05/16/1984 05/16/1984 MATCH 07/01/1939 07/01/1939 MATCH
002855222-02: 11/06/1992 11/06/1992 MATCH 08/01/1946 08/01/1946 MATCH
002855818-02:  8/10/1944 08/10/1944 MATCH 05/01/1934 05/01/1934 MATCH
002857554-02: 03/03/1998 03/03/1998 MATCH 03/01/1946 03/01/1946 MATCH
002858528-02: 12/03/1935 12/03/1935 MATCH 07/01/1935 07/01/1935 MATCH
002858854-02:  9/17/1947 09/17/1947 MATCH 10/01/1939 10/01/1939 MATCH
002868816-02:  7/24/1973 07/24/1973 MATCH 08/01/1966 08/01/1966 MATCH
002871341-02: 10/30/1985 10/30/1985 MATCH 01/01/1972 01/01/1972 MATCH
002880970-02: 12/23/1961 12/23/1981       02/01/1980 02/01/1980 MATCH
002933644-02: 10/03/1996 10/03/1996 MATCH 10/01/1996 10/01/1996 MATCH
002945803-02: 09/02/1999 09/02/1999 MATCH 09/01/1999 09/01/1999 MATCH
002963102-02: 10/12/1946 10/12/1946 MATCH 09/01/1946 09/01/1946 MATCH
002963744-02: 10/19/1942 10/19/1942 MATCH 03/01/1937 03/01/1937 MATCH
002965853-02:  4/17/1982 04/17/1982 MATCH 09/01/1960 09/01/1960 MATCH
002966031-02:  1/21/1941 01/21/1941 MATCH 10/01/1937 10/01/1937 MATCH
002968518-02: 10/10/1933 10/10/1933 MATCH 02/01/1927 02/01/1927 MATCH
002968636-02: 10/19/1939 10/19/1939 MATCH 03/01/1921 03/01/1921 MATCH
002977152-02:   5/9/1936 05/09/1936 MATCH 10/01/1934 10/01/1934 MATCH
002984211-02:  10/1/1927 10/01/1927 MATCH 07/01/1921 07/01/1921 MATCH
002990881-02:  1/17/1986 01/17/1986 MATCH 04/01/1974 04/01/1974 MATCH
003028302-02: 09/19/1999 09/19/1999 MATCH 06/01/1991 06/01/1991 MATCH

003047669-02: 12/23/1998 12/23/1998 MATCH 05/01/1996 05/01/1996 MATCH
003049257-02: 11/12/1973 11/12/1996       09/01/1996 09/01/1996 MATCH
003056588-02:   4/1/1979 09/01/1999       02/01/1998 02/01/1998 MATCH
004101054-02: 10/25/1970 10/25/1970 MATCH 10/25/1970 10/01/1970
004744449-02: 02/26/1978 02/26/1978 MATCH 02/01/1961 02/01/1961 MATCH
004757117-02: 05/10/1980 05/10/1980 MATCH 05/01/1980 05/01/1980 MATCH
011736897-02:  11/1/1980 11/01/1980 MATCH 01/01/1979 01/01/1979 MATCH
013351098-02:   4/6/1973 04/06/1973 MATCH 04/01/1921 04/01/1921 MATCH
013586018-02:   2/3/1972 02/03/1972 MATCH 02/07/2005 09/01/1950
020006730-02:  5/10/1979 05/10/1979 MATCH 05/10/1979 05/01/1979
020045391-02: 06/12/1985 06/12/1985 MATCH 01/01/1985 01/01/1985 MATCH
020050543-02: 10/19/1983 10/19/1983 MATCH 10/01/1983 10/01/1983 MATCH
020078476-02:  3/15/1985 03/15/1985 MATCH 02/19/1985 02/01/1985
020094327-02: 11/17/1968 11/17/1967       11/27/1967 11/01/1967
020189355-02: 12/14/1983 12/14/1983 MATCH 12/24/1983 12/01/1983
020189655-02: 06/11/1976 06/11/1976 MATCH 06/01/1976 06/01/1976 MATCH
020190590-02:   4/3/1968 04/03/1968 MATCH 04/13/1968 04/01/1968
020190937-02: 10/06/1985 10/06/1985 MATCH 10/01/1985 10/01/1985 MATCH
020192500-02:  1/21/1959 01/21/1959 MATCH 01/31/1959 01/01/1959
020193030-02:  6/17/1962 06/17/1962 MATCH 06/27/1962 06/01/1962
020193284-02:   8/3/1985 08/03/1985 MATCH 08/13/1985 08/01/1985
020193733-02:   8/2/1965 08/02/1965 MATCH 08/12/1965 08/01/1965
020193967-02: 09/06/1985 09/06/1985 MATCH 09/01/1985 09/01/1985 MATCH
020199681-02:  10/3/1984 10/03/1984 MATCH 06/19/1984 06/01/1984
020208175-02:   4/6/1972 04/06/1972 MATCH 04/16/1972 04/01/1972
002499710-02:            04/06/1972                  04/01/1972
002624303-02:            04/06/1972                  04/01/1972
002615872-02:            04/06/1972                  04/01/1972
003048413-02:            04/06/1972                  04/01/1972
002265738-02:            04/06/1972                  04/01/1972
002845500-02:            04/06/1972                  04/01/1972
020069536-02:            04/06/1972                  04/01/1972
002899895-02:            04/06/1972                  04/01/1972
002776414-02:            04/06/1972                  04/01/1972
002048038-02:            04/06/1972                  04/01/1972
020194239-02:            04/06/1972                  04/01/1972
002941284-02:            04/06/1972                  04/01/1972
001916973-02:            04/06/1972                  04/01/1972
003035174-02:            04/06/1972                  04/01/1972
002741066-02:            04/06/1972                  04/01/1972
002069313-02:            04/06/1972                  04/01/1972
002151239-02:            04/06/1972                  04/01/1972
002979869-02:            04/06/1972                  04/01/1972
002613368-02:            04/06/1972                  04/01/1972
004761375-02:            04/06/1972                  04/01/1972
002388530-02:            04/06/1972                  04/01/1972
002517678-02:            04/06/1972                  04/01/1972
003056854-02:            04/06/1972                  04/01/1972
002504748-02:            04/06/1972                  04/01/1972
002742860-02:            04/06/1972                  04/01/1972
002509635-02:            04/06/1972                  04/01/1972
002503940-02:            04/06/1972                  04/01/1972
002946575-02:            04/06/1972                  04/01/1972
002377851-02:            04/06/1972                  04/01/1972
002205379-02:            04/06/1972                  04/01/1972
001925489-02:            04/06/1972                  04/01/1972
002961246-02:            04/06/1972                  04/01/1972
002280687-02:            04/06/1972                  04/01/1972
020042837-02:            04/06/1972                  04/01/1972
003031196-02:            04/06/1972                  04/01/1972
002877216-02:            04/06/1972                  04/01/1972
002915829-02:            04/06/1972                  04/01/1972
002335644-02:            04/06/1972                  04/01/1972
002844620-02:            04/06/1972                  04/01/1972
002495894-02:            04/06/1972                  04/01/1972
001940245-02:            04/06/1972                  04/01/1972
002164272-02:            04/06/1972                  04/01/1972
002355306-02:            04/06/1972                  04/01/1972
003061239-02:            04/06/1972                  04/01/1972
002382209-02:            04/06/1972                  04/01/1972
003018966-02:            04/06/1972                  04/01/1972
002504593-02:            04/06/1972                  04/01/1972
002149991-02:            04/06/1972                  04/01/1972
002912299-02:            04/06/1972                  04/01/1972
002215947-02:            04/06/1972                  04/01/1972
002398277-02:            04/06/1972                  04/01/1972
001970499-02:            04/06/1972                  04/01/1972
002826903-02:            04/06/1972                  04/01/1972
002152359-02:            04/06/1972                  04/01/1972
001381155-02:            04/06/1972                  04/01/1972
002475375-02:            04/06/1972                  04/01/1972
002630614-02:            04/06/1972                  04/01/1972
002384494-02:            04/06/1972                  04/01/1972
002729307-02:            04/06/1972                  04/01/1972
002965596-02:            04/06/1972                  04/01/1972
002113499-02:            04/06/1972                  04/01/1972
002742889-02:            04/06/1972                  04/01/1972
002359439-02:            04/06/1972                  04/01/1972
001907192-02:            04/06/1972                  04/01/1972
002182168-02:            04/06/1972                  04/01/1972
002409209-02:            04/06/1972                  04/01/1972

In [88]:
df_ddm[df_ddm['ID_Number']=='013351098-02']

,index,c0,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11,c12,c13,c14,c15,c16,c17,c18,c19,c20,c21,c22,c23,c24,c25,c26,c27,c28,c29,c30,c31,c32,c33,c34,c35,c36,c37,c38,c39,c40,c41,c42,c43,Date_Last_Changed,Vote_History,ID_Number,House__,HouseNoSuffix,StreetNameComplete,City,Zip_Code,Voter_Status,Political_Party,Date_Of_Birth,Date_Registered
203,781905,nan,091304,010,013351098,CASS,REBECCA,A,nan,nan,00017,nan,111111,149,00,03,0000,R,F,84,040673,0421,00,12,A,000000,POCONO DR,15220,PITTSBURGH PA,GREENTREE,18,42,42,222,36,KEYSTONE OAKS - REGION 3,0000,41,16,593,00,03,GREENTREE,0000000000000000000000000000000000000000000000...,None,09/13/2004,0000000000000000000000000000000000000000000100...,013351098-02,17,None,POCONO DR,PITTSBURGH PA,15220,A,R,04/06/1973,04/01/1921

In [89]:
df_ddm[203:205]

,index,c0,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11,c12,c13,c14,c15,c16,c17,c18,c19,c20,c21,c22,c23,c24,c25,c26,c27,c28,c29,c30,c31,c32,c33,c34,c35,c36,c37,c38,c39,c40,c41,c42,c43,Date_Last_Changed,Vote_History,ID_Number,House__,HouseNoSuffix,StreetNameComplete,City,Zip_Code,Voter_Status,Political_Party,Date_Of_Birth,Date_Registered
203,781905,nan,091304,010,013351098,CASS,REBECCA,A,nan,nan,00017,nan,111111,149,00,03,0000,R,F,84,040673,0421,00,12,A,000000,POCONO DR,15220,PITTSBURGH PA,GREENTREE,18,42,42,222,36,KEYSTONE OAKS - REGION 3,0000,41,16,593,00,03,GREENTREE,0000000000000000000000000000000000000000000000...,None,09/13/2004,0000000000000000000000000000000000000000000100...,013351098-02,17,None,POCONO DR,PITTSBURGH PA,15220,A,R,04/06/1973,04/01/1921
204,782145,nan,081604,010,013586018,REED,KATHLEEN,A,nan,nan,01525,nan,111111,145,03,03,0000,R,nan,84,020372,0950,00,02,A,000000,ROBERTSON RD,15237,PITTSBURGH PA,FRANKLIN PK,04,40,28,212,50,NORTH ALLEGHENY,0000,11,199A,577,03,03,FRANKLIN PK,0000000000000000000000000000000000000000000000...,None,08/16/2004,0000000000000000000000000000000000000000000100...,013586018-02,1525,None,ROBERTSON RD,PITTSBURGH PA,15237,A,R,02/03/1972,09/01/1950

In [90]:
voter_map['013586018-02']

{'DOB': '2/3/1972',
 'addr_arr': [{'address': '1525 ROBERTSON RD PITTSBURGH PA 15237',
   'census_block': u'420034120021000',
   'date': datetime.datetime(1850, 9, 9, 0, 0),
   'latlon': <shapely.geometry.point.Point at 0x7f1f7325bd50>}],
 'addresses': {'2009-07': '1525 ROBERTSON RD PITTSBURGH PA 15237',
  '2017-11': '1525 ROBERTSON RD PITTSBURGH PA 15237',
  '2018-03': '1525 ROBERTSON RD PITTSBURGH PA 15237',
  '2018-08': '1525 ROBERTSON RD PITTSBURGH PA 15237'},
 'reg_date': datetime.datetime(1850, 9, 9, 0, 0),
 'reg_info': {'2009-07': {'party': 'R', 'status': 'A'},
  '2017-11': {'party': 'R', 'status': 'A'},
  '2018-03': {'party': 'R', 'status': 'A'},
  '2018-08': {'party': 'R', 'status': 'A'}}}

In [92]:
# Patch up clearly broken registration date for '013586018-02' to be date_cd_burned
dcb = dateparser.parse(date_cd_burned)
voter_map['013586018-02']['reg_date'] = dcb
voter_map['013586018-02']['addr_arr'][0]['date']=dcb

In [135]:
from datetime import timedelta
td_17yr = timedelta(days=(365*17))
td_17yr

datetime.timedelta(6205)

In [132]:
reg_td = voter_map['013586018-02']['reg_date'] - dateparser.parse(voter_map['013586018-02']['DOB'])
reg_td.days/365

33

In [150]:
len(bad_reg_date_set)

63

In [151]:
df_ddm[df_ddm['ID_Number']=='001908780-02']

,index,c0,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11,c12,c13,c14,c15,c16,c17,c18,c19,c20,c21,c22,c23,c24,c25,c26,c27,c28,c29,c30,c31,c32,c33,c34,c35,c36,c37,c38,c39,c40,c41,c42,c43,Date_Last_Changed,Vote_History,ID_Number,House__,HouseNoSuffix,StreetNameComplete,City,Zip_Code,Voter_Status,Political_Party,Date_Of_Birth,Date_Registered
2,3185,nan,nan,010,001908780,RUDMAN,JOSEPH,nan,nan,nan,01260,nan,111111,114,00,02,0000,D,M,84,101639,0822,00,08,A,000000,BRINTON RD,15221,PITTSBURGH PA,BRADDOCK HL,14,43,34,209,44,WOODLAND HILLS - REG. 4,0000,43,121,453,00,02,BRADDOCK HL,0000111111111111111111112111112111111211111111...,None,2/7/2005,1111111111111111111121111121111112111111112100...,001908780-02,1260,None,BRINTON RD,PITTSBURGH PA,15221,A,D,10/16/1939,08/01/1922

In [154]:
import math
bad_reg_date_set=set()

#for i in range(0,len(no_reg_df)):
for i in range(0,len(df_ddm)):
    vid = df_ddm['ID_Number'].iloc[i]
    bad_reg_date = True
    if(not vid in voter_map):
        print "No known reg_date for %s [%d]" %(vid,i)
    else:
        dob = dateparser.parse(voter_map[vid]['DOB'])
        reg_td=voter_map[vid]['reg_date']-dob
        if(reg_td>td_17yr):
            bad_reg_date=False
        print "%s: Have reg_date for %s [%d] = %s (DOB=%s, age=%d)" %(
            'BAD' if bad_reg_date else 'OK ',
            vid,i,voter_map[vid]['reg_date'],voter_map[vid]['DOB'],reg_td.days/365)
    if(bad_reg_date):
        bad_reg_date_set.add(vid)
        
    # Get voting history detail
    vh_str = df_ddm['c42'].iloc[i]        
    # Find first instance of 1 or 2
    vi = vh_str.find('1')
    di = vh_str.find('2')
    # If this person has never voted then both vi and di will be -1.  In that case 
    # set reg_date to 2004 (quite a few people with no voting record were born in 1991)
    fv_year=None
    if(vi == -1 and di==-1):
        min_i=-1
        fv_year = 2004
    elif(vi==-1):
        vi=di
    elif(di==-1):
        di=vi
        
    if(not fv_year):
        min_i = min(vi,di)
        # indices 0-3 are filler and are all zeros
        # index 4-5 are 1983, 6-7 are 1984, etc
        fv_year = math.floor((min_i-4)/2)+1983
        
    print "\tFirst non-zero vh = %d (%d)" % (min_i, fv_year)

No known reg_date for 001381155-02 [0]
	First non-zero vh = -1 (2004)
No known reg_date for 001907192-02 [1]
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 001908780-02 [2] = 1922-08-01 00:00:00 (DOB=10/16/1939, age=-18)
	First non-zero vh = 4 (1983)
No known reg_date for 001916973-02 [3]
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 001920986-02 [4] = 1925-04-01 00:00:00 (DOB=06/17/1925, age=-1)
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 001924580-02 [5] = 1934-06-01 00:00:00 (DOB=6/22/1943, age=-10)
	First non-zero vh = 4 (1983)
No known reg_date for 001925489-02 [6]
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 001925869-02 [7] = 1922-08-01 00:00:00 (DOB=05/26/1928, age=-6)
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 001928263-02 [8] = 1937-10-01 00:00:00 (DOB=11/20/1944, age=-8)
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 001928625-02 [9] = 1920-09-01 00:00:00 (DOB=03/12/1927, age=-7)
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 001931915-02 [10] = 1958-07-01 00:00:00 (DOB=6/13/1973, age=-15)
	First non-zero vh = 4 (1983)
No known reg_date for 001940245-02 [11]
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 001957693-02 [12] = 1984-10-01 00:00:00 (DOB=11/12/1984, age=-1)
	First non-zero vh = 4 (1983)
No known reg_date for 001970499-02 [13]
	First non-zero vh = 17 (1989)
OK : Have reg_date for 002007374-02 [14] = 1999-04-01 00:00:00 (DOB=6/5/1899, age=99)
	First non-zero vh = 36 (1999)
BAD: Have reg_date for 002024372-02 [15] = 1944-08-01 00:00:00 (DOB=10/15/1978, age=-35)
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 002032315-02 [16] = 1939-07-01 00:00:00 (DOB=3/15/1949, age=-10)
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 002035252-02 [17] = 1932-08-01 00:00:00 (DOB=8/27/1937, age=-6)
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 002047283-02 [18] = 1923-08-01 00:00:00 (DOB=3/28/1942, age=-19)
	First non-zero vh = 4 (1983)
No known reg_date for 002048038-02 [19]
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 002061624-02 [20] = 1980-04-01 00:00:00 (DOB=8/26/1983, age=-4)
	First non-zero vh = 4 (1983)
No known reg_date for 002069313-02 [21]
	First non-zero vh = 4 (1983)
OK : Have reg_date for 002107655-02 [22] = 1995-10-01 00:00:00 (DOB=9/21/1977, age=18)
	First non-zero vh = 29 (1995)
OK : Have reg_date for 002111394-02 [23] = 1996-07-01 00:00:00 (DOB=7/3/1896, age=100)
	First non-zero vh = 31 (1996)
No known reg_date for 002113499-02 [24]
	First non-zero vh = 31 (1996)
OK : Have reg_date for 002116664-02 [25] = 1997-04-01 00:00:00 (DOB=4/16/1897, age=100)
	First non-zero vh = 32 (1997)
BAD: Have reg_date for 002123100-02 [26] = 1999-01-01 00:00:00 (DOB=11/11/1999, age=-1)
	First non-zero vh = 36 (1999)
BAD: Have reg_date for 002143145-02 [27] = 1958-08-01 00:00:00 (DOB=02/02/1999, age=-41)
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 002147415-02 [28] = 1931-08-01 00:00:00 (DOB=2/8/1933, age=-2)
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 002148766-02 [29] = 1961-03-01 00:00:00 (DOB=3/14/1980, age=-20)
	First non-zero vh = 4 (1983)
No known reg_date for 002149991-02 [30]
	First non-zero vh = 4 (1983)
No known reg_date for 002151239-02 [31]
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 002151329-02 [32] = 1931-08-01 00:00:00 (DOB=9/8/1937, age=-7)
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 002151415-02 [33] = 1921-08-01 00:00:00 (DOB=11/16/1930, age=-10)
	First non-zero vh = 4 (1983)
No known reg_date for 002152359-02 [34]
	First non-zero vh = 4 (1983)
OK : Have reg_date for 002154602-02 [35] = 1945-09-01 00:00:00 (DOB=10/29/1894, age=50)
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 002157729-02 [36] = 1936-03-01 00:00:00 (DOB=5/27/1941, age=-6)
	First non-zero vh = 4 (1983)
OK : Have reg_date for 002157833-02 [37] = 1964-05-01 00:00:00 (DOB=5/26/1942, age=21)
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 002163988-02 [38] = 1928-08-01 00:00:00 (DOB=11/21/1931, age=-4)
	First non-zero vh = 4 (1983)
No known reg_date for 002164272-02 [39]
	First non-zero vh = 4 (1983)
OK : Have reg_date for 002171986-02 [40] = 1975-04-01 00:00:00 (DOB=1/4/1957, age=18)
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 002174373-02 [41] = 1976-10-01 00:00:00 (DOB=10/18/1976, age=-1)
	First non-zero vh = 4 (1983)
No known reg_date for 002182168-02 [42]
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 002184661-02 [43] = 1983-04-01 00:00:00 (DOB=6/1/1983, age=-1)
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 002187999-02 [44] = 1984-06-01 00:00:00 (DOB=09/29/1984, age=-1)
	First non-zero vh = 4 (1983)
No known reg_date for 002205379-02 [45]
	First non-zero vh = 18 (1990)
OK : Have reg_date for 002208382-02 [46] = 1991-06-01 00:00:00 (DOB=7/18/1961, age=29)
	First non-zero vh = 21 (1991)
No known reg_date for 002215947-02 [47]
	First non-zero vh = 23 (1992)
OK : Have reg_date for 002233418-02 [48] = 1997-04-01 00:00:00 (DOB=5/7/1979, age=17)
	First non-zero vh = 32 (1997)
OK : Have reg_date for 002261293-02 [49] = 1956-08-01 00:00:00 (DOB=8/16/1935, age=20)
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 002262554-02 [50] = 1928-03-01 00:00:00 (DOB=1/17/1938, age=-10)
	First non-zero vh = 4 (1983)
No known reg_date for 002265738-02 [51]
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 002267278-02 [52] = 1946-08-01 00:00:00 (DOB=07/17/1997, age=-51)
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 002267930-02 [53] = 1937-07-01 00:00:00 (DOB=02/28/1997, age=-60)
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 002280231-02 [54] = 1927-08-01 00:00:00 (DOB=7/7/1943, age=-16)
	First non-zero vh = 4 (1983)
No known reg_date for 002280687-02 [55]
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 002291294-02 [56] = 1976-10-01 00:00:00 (DOB=1/21/1977, age=-1)
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 002292395-02 [57] = 1977-04-01 00:00:00 (DOB=4/16/1977, age=-1)
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 002303561-02 [58] = 1984-03-01 00:00:00 (DOB=11/25/1995, age=-12)
	First non-zero vh = 4 (1983)
No known reg_date for 002335644-02 [59]
	First non-zero vh = 24 (1993)
BAD: Have reg_date for 002344339-02 [60] = 1996-04-01 00:00:00 (DOB=08/20/1996, age=-1)
	First non-zero vh = 30 (1996)
OK : Have reg_date for 002347908-02 [61] = 1996-10-01 00:00:00 (DOB=10/3/1968, age=28)
	First non-zero vh = 31 (1996)
OK : Have reg_date for 002353993-02 [62] = 1998-03-01 00:00:00 (DOB=12/4/1979, age=18)
	First non-zero vh = 34 (1998)
No known reg_date for 002355306-02 [63]
	First non-zero vh = 35 (1998)
No known reg_date for 002359439-02 [64]
	First non-zero vh = 37 (1999)
OK : Have reg_date for 002361053-02 [65] = 1999-12-01 00:00:00 (DOB=12/4/1899, age=100)
	First non-zero vh = 38 (2000)
BAD: Have reg_date for 002376012-02 [66] = 1952-02-01 00:00:00 (DOB=03/22/1994, age=-43)
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 002376551-02 [67] = 1938-06-01 00:00:00 (DOB=10/18/1999, age=-62)
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 002377600-02 [68] = 1921-05-01 00:00:00 (DOB=11/11/1926, age=-6)
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 002377821-02 [69] = 1946-08-01 00:00:00 (DOB=07/06/1982, age=-36)
	First non-zero vh = 4 (1983)
No known reg_date for 002377851-02 [70]
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 002378271-02 [71] = 1922-07-01 00:00:00 (DOB=5/24/1926, age=-4)
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 002379923-02 [72] = 1925-08-01 00:00:00 (DOB=6/28/1929, age=-4)
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 002381088-02 [73] = 1920-08-01 00:00:00 (DOB=07/19/1928, age=-8)
	First non-zero vh = 4 (1983)
No known reg_date for 002382209-02 [74]
	First non-zero vh = 4 (1983)
No known reg_date for 002384494-02 [75]
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 002387109-02 [76] = 1940-09-01 00:00:00 (DOB=06/15/1998, age=-58)
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 002388302-02 [77] = 1934-05-01 00:00:00 (DOB=8/27/1946, age=-13)
	First non-zero vh = 4 (1983)
No known reg_date for 002388530-02 [78]
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 002389073-02 [79] = 1944-10-01 00:00:00 (DOB=02/08/1999, age=-55)
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 002389792-02 [80] = 1923-08-01 00:00:00 (DOB=6/3/1931, age=-8)
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 002389932-02 [81] = 1926-08-01 00:00:00 (DOB=8/24/1929, age=-4)
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 002390398-02 [82] = 1926-08-01 00:00:00 (DOB=08/03/1926, age=-1)
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 002393585-02 [83] = 1930-08-01 00:00:00 (DOB=4/28/1941, age=-11)
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 002393634-02 [84] = 1936-01-01 00:00:00 (DOB=5/15/1947, age=-12)
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 002395050-02 [85] = 1942-08-01 00:00:00 (DOB=10/25/1942, age=-1)
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 002396727-02 [86] = 1929-08-01 00:00:00 (DOB=3/26/1945, age=-16)
	First non-zero vh = 4 (1983)
No known reg_date for 002398277-02 [87]
	First non-zero vh = 4 (1983)
OK : Have reg_date for 002408659-02 [88] = 1976-10-01 00:00:00 (DOB=10/3/1944, age=32)
	First non-zero vh = 4 (1983)
No known reg_date for 002409209-02 [89]
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 002410991-02 [90] = 1978-10-01 00:00:00 (DOB=10/26/1983, age=-6)
	First non-zero vh = 4 (1983)
OK : Have reg_date for 002427032-02 [91] = 1986-03-01 00:00:00 (DOB=11/25/1957, age=28)
	First non-zero vh = 4 (1983)
OK : Have reg_date for 002440748-02 [92] = 1990-10-01 00:00:00 (DOB=10/15/1972, age=17)
	First non-zero vh = 19 (1990)
BAD: Have reg_date for 002460590-02 [93] = 1996-02-01 00:00:00 (DOB=02/10/1996, age=-1)
	First non-zero vh = 30 (1996)
OK : Have reg_date for 002461753-02 [94] = 1996-05-01 00:00:00 (DOB=5/14/1964, age=31)
	First non-zero vh = 31 (1996)
OK : Have reg_date for 002475105-02 [95] = 1999-04-01 00:00:00 (DOB=7/28/1899, age=99)
	First non-zero vh = 36 (1999)
No known reg_date for 002475375-02 [96]
	First non-zero vh = 36 (1999)
BAD: Have reg_date for 002492624-02 [97] = 1922-09-01 00:00:00 (DOB=11/23/1927, age=-6)
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 002493451-02 [98] = 1937-07-01 00:00:00 (DOB=12/22/1998, age=-62)
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 002494275-02 [99] = 1948-08-01 00:00:00 (DOB=11/28/1948, age=-1)
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 002494960-02 [100] = 1947-07-01 00:00:00 (DOB=7/16/1962, age=-16)
	First non-zero vh = 4 (1983)
No known reg_date for 002495894-02 [101]
	First non-zero vh = 4 (1983)
No known reg_date for 002499710-02 [102]
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 002500852-02 [103] = 1920-08-01 00:00:00 (DOB=12/07/1929, age=-10)
	First non-zero vh = 4 (1983)
No known reg_date for 002503940-02 [104]
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 002504535-02 [105] = 1934-05-01 00:00:00 (DOB=2/26/1943, age=-9)
	First non-zero vh = 4 (1983)
No known reg_date for 002504593-02 [106]
	First non-zero vh = 4 (1983)
No known reg_date for 002504748-02 [107]
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 002505163-02 [108] = 1962-03-01 00:00:00 (DOB=12/28/1982, age=-21)
	First non-zero vh = 4 (1983)

BAD: Have reg_date for 002508899-02 [109] = 1944-09-01 00:00:00 (DOB=08/23/1952, age=-8)
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 002508908-02 [110] = 1934-09-01 00:00:00 (DOB=2/14/1943, age=-9)
	First non-zero vh = 4 (1983)
No known reg_date for 002509635-02 [111]
	First non-zero vh = 4 (1983)
OK : Have reg_date for 002509728-02 [112] = 1932-02-01 00:00:00 (DOB=10/28/1899, age=32)
	First non-zero vh = 4 (1983)
OK : Have reg_date for 002510346-02 [113] = 1957-09-01 00:00:00 (DOB=08/31/1933, age=24)
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 002511740-02 [114] = 1937-03-01 00:00:00 (DOB=07/13/1939, age=-3)
	First non-zero vh = 4 (1983)
No known reg_date for 002517678-02 [115]
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 002525693-02 [116] = 1976-10-01 00:00:00 (DOB=10/26/1976, age=-1)
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 002529045-02 [117] = 1979-10-01 00:00:00 (DOB=11/9/1979, age=-1)
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 002529488-02 [118] = 1980-03-01 00:00:00 (DOB=08/02/1984, age=-5)
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 002543450-02 [119] = 1985-06-01 00:00:00 (DOB=10/5/1985, age=-1)
	First non-zero vh = 4 (1983)
OK : Have reg_date for 002556872-02 [120] = 1990-04-01 00:00:00 (DOB=4/14/1890, age=100)
	First non-zero vh = 18 (1990)
OK : Have reg_date for 002568118-02 [121] = 1992-10-01 00:00:00 (DOB=12/11/1947, age=44)
	First non-zero vh = 23 (1992)
OK : Have reg_date for 002583966-02 [122] = 1997-02-01 00:00:00 (DOB=2/24/1897, age=100)
	First non-zero vh = 32 (1997)
No known reg_date for 002613368-02 [123]
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 002614704-02 [124] = 1921-08-01 00:00:00 (DOB=3/12/1942, age=-21)
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 002614715-02 [125] = 1921-02-01 00:00:00 (DOB=01/10/1929, age=-8)
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 002614878-02 [126] = 1927-06-01 00:00:00 (DOB=06/09/1933, age=-7)
	First non-zero vh = 4 (1983)
No known reg_date for 002615872-02 [127]
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 002622987-02 [128] = 1952-03-01 00:00:00 (DOB=09/12/1999, age=-48)
	First non-zero vh = 4 (1983)
No known reg_date for 002624303-02 [129]
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 002624564-02 [130] = 1926-03-01 00:00:00 (DOB=4/26/1940, age=-15)
	First non-zero vh = 4 (1983)
OK : Have reg_date for 002625067-02 [131] = 1960-03-01 00:00:00 (DOB=07/20/1924, age=35)
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 002626793-02 [132] = 1923-08-01 00:00:00 (DOB=5/5/1926, age=-3)
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 002626839-02 [133] = 1946-03-01 00:00:00 (DOB=11/18/1946, age=-1)
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 002629566-02 [134] = 1960-09-01 00:00:00 (DOB=7/13/1971, age=-11)
	First non-zero vh = 4 (1983)
No known reg_date for 002630614-02 [135]
	First non-zero vh = 4 (1983)
OK : Have reg_date for 002631664-02 [136] = 1967-08-01 00:00:00 (DOB=3/27/1945, age=22)
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 002650503-02 [137] = 1982-04-01 00:00:00 (DOB=9/24/1983, age=-2)
	First non-zero vh = 4 (1983)
OK : Have reg_date for 002682658-02 [138] = 1992-09-01 00:00:00 (DOB=8/29/1899, age=93)
	First non-zero vh = 23 (1992)
OK : Have reg_date for 002683054-02 [139] = 1992-09-01 00:00:00 (DOB=11/2/1893, age=98)
	First non-zero vh = 23 (1992)
BAD: Have reg_date for 002707559-02 [140] = 1998-10-01 00:00:00 (DOB=10/24/1998, age=-1)
	First non-zero vh = 35 (1998)
BAD: Have reg_date for 002728013-02 [141] = 1964-02-01 00:00:00 (DOB=07/13/1971, age=-8)
	First non-zero vh = 4 (1983)
No known reg_date for 002729307-02 [142]
	First non-zero vh = 4 (1983)
OK : Have reg_date for 002732177-02 [143] = 1955-08-01 00:00:00 (DOB=02/24/1926, age=29)
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 002734263-02 [144] = 1934-08-01 00:00:00 (DOB=8/8/1934, age=-1)
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 002734627-02 [145] = 1921-08-01 00:00:00 (DOB=10/24/1933, age=-13)
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 002740656-02 [146] = 1935-07-01 00:00:00 (DOB=8/27/1954, age=-20)
	First non-zero vh = 4 (1983)
No known reg_date for 002741066-02 [147]
	First non-zero vh = 4 (1983)
No known reg_date for 002742860-02 [148]
	First non-zero vh = 4 (1983)
No known reg_date for 002742889-02 [149]
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 002771844-02 [150] = 1984-02-01 00:00:00 (DOB=10/15/1985, age=-2)
	First non-zero vh = 4 (1983)
No known reg_date for 002776414-02 [151]
	First non-zero vh = 4 (1983)
OK : Have reg_date for 002794938-02 [152] = 1991-10-01 00:00:00 (DOB=10/27/1891, age=99)
	First non-zero vh = 21 (1991)
No known reg_date for 002826903-02 [153]
	First non-zero vh = 36 (1999)
No known reg_date for 002844620-02 [154]
	First non-zero vh = 4 (1983)
No known reg_date for 002845500-02 [155]
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 002846555-02 [156] = 1931-08-01 00:00:00 (DOB=01/30/1937, age=-6)
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 002846770-02 [157] = 1956-08-01 00:00:00 (DOB=01/30/1982, age=-26)
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 002851030-02 [158] = 1935-08-01 00:00:00 (DOB=5/1/1946, age=-11)
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 002854120-02 [159] = 1939-07-01 00:00:00 (DOB=05/16/1984, age=-45)
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 002855222-02 [160] = 1946-08-01 00:00:00 (DOB=11/06/1992, age=-47)
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 002855818-02 [161] = 1934-05-01 00:00:00 (DOB=8/10/1944, age=-11)
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 002857554-02 [162] = 1946-03-01 00:00:00 (DOB=03/03/1998, age=-53)
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 002858528-02 [163] = 1935-07-01 00:00:00 (DOB=12/03/1935, age=-1)
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 002858854-02 [164] = 1939-10-01 00:00:00 (DOB=9/17/1947, age=-8)
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 002868816-02 [165] = 1966-08-01 00:00:00 (DOB=7/24/1973, age=-7)
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 002871341-02 [166] = 1972-01-01 00:00:00 (DOB=10/30/1985, age=-14)
	First non-zero vh = 4 (1983)
No known reg_date for 002877216-02 [167]
	First non-zero vh = 4 (1983)
OK : Have reg_date for 002880970-02 [168] = 1980-02-01 00:00:00 (DOB=12/23/1961, age=18)
	First non-zero vh = 4 (1983)
No known reg_date for 002899895-02 [169]
	First non-zero vh = 14 (1988)
No known reg_date for 002912299-02 [170]
	First non-zero vh = 21 (1991)
No known reg_date for 002915829-02 [171]
	First non-zero vh = 23 (1992)
BAD: Have reg_date for 002933644-02 [172] = 1996-10-01 00:00:00 (DOB=10/03/1996, age=-1)
	First non-zero vh = 31 (1996)
No known reg_date for 002941284-02 [173]
	First non-zero vh = 35 (1998)
BAD: Have reg_date for 002945803-02 [174] = 1999-09-01 00:00:00 (DOB=09/02/1999, age=-1)
	First non-zero vh = 37 (1999)
No known reg_date for 002946575-02 [175]
	First non-zero vh = 38 (2000)
No known reg_date for 002961246-02 [176]
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 002963102-02 [177] = 1946-09-01 00:00:00 (DOB=10/12/1946, age=-1)
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 002963744-02 [178] = 1937-03-01 00:00:00 (DOB=10/19/1942, age=-6)
	First non-zero vh = 4 (1983)
No known reg_date for 002965596-02 [179]
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 002965853-02 [180] = 1960-09-01 00:00:00 (DOB=4/17/1982, age=-22)
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 002966031-02 [181] = 1937-10-01 00:00:00 (DOB=1/21/1941, age=-4)
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 002968518-02 [182] = 1927-02-01 00:00:00 (DOB=10/10/1933, age=-7)
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 002968636-02 [183] = 1921-03-01 00:00:00 (DOB=10/19/1939, age=-19)
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 002977152-02 [184] = 1934-10-01 00:00:00 (DOB=5/9/1936, age=-2)
	First non-zero vh = 4 (1983)
No known reg_date for 002979869-02 [185]
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 002984211-02 [186] = 1921-07-01 00:00:00 (DOB=10/1/1927, age=-7)
	First non-zero vh = 4 (1983)
BAD: Have reg_date for 002990881-02 [187] = 1974-04-01 00:00:00 (DOB=1/17/1986, age=-12)
	First non-zero vh = 4 (1983)
No known reg_date for 003018966-02 [188]
	First non-zero vh = 15 (1988)
BAD: Have reg_date for 003028302-02 [189] = 1991-06-01 00:00:00 (DOB=09/19/1999, age=-9)
	First non-zero vh = 21 (1991)
No known reg_date for 003031196-02 [190]
	First non-zero vh = 22 (1992)
No known reg_date for 003035174-02 [191]
	First non-zero vh = 23 (1992)
BAD: Have reg_date for 003047669-02 [192] = 1996-05-01 00:00:00 (DOB=12/23/1998, age=-3)
	First non-zero vh = 31 (1996)
No known reg_date for 003048413-02 [193]
	First non-zero vh = 31 (1996)
OK : Have reg_date for 003049257-02 [194] = 1996-09-01 00:00:00 (DOB=11/12/1973, age=22)
	First non-zero vh = 31 (1996)
OK : Have reg_date for 003056588-02 [195] = 1998-02-01 00:00:00 (DOB=4/1/1979, age=18)
	First non-zero vh = 34 (1998)
No known reg_date for 003056854-02 [196]
	First non-zero vh = 34 (1998)
No known reg_date for 003061239-02 [197]
	First non-zero vh = 36 (1999)
BAD: Have reg_date for 004101054-02 [198] = 1970-10-25 00:00:00 (DOB=10/25/1970, age=0)
	First non-zero vh = 47 (2004)
BAD: Have reg_date for 004744449-02 [199] = 1961-02-01 00:00:00 (DOB=02/26/1978, age=-18)
	First non-zero vh = 47 (2004)
BAD: Have reg_date for 004757117-02 [200] = 1980-05-01 00:00:00 (DOB=05/10/1980, age=-1)
	First non-zero vh = 47 (2004)
No known reg_date for 004761375-02 [201]
	First non-zero vh = -1 (2004)
BAD: Have reg_date for 011736897-02 [202] = 1979-01-01 00:00:00 (DOB=11/1/1980, age=-2)
	First non-zero vh = 47 (2004)
BAD: Have reg_date for 013351098-02 [203] = 1921-04-01 00:00:00 (DOB=4/6/1973, age=-53)
	First non-zero vh = 47 (2004)
OK : Have reg_date for 013586018-02 [204] = 2005-02-07 00:00:00 (DOB=2/3/1972, age=33)
	First non-zero vh = 47 (2004)
BAD: Have reg_date for 020006730-02 [205] = 1979-05-10 00:00:00 (DOB=5/10/1979, age=0)
	First non-zero vh = 47 (2004)
No known reg_date for 020042837-02 [206]
	First non-zero vh = 46 (2004)
BAD: Have reg_date for 020045391-02 [207] = 1985-01-01 00:00:00 (DOB=06/12/1985, age=-1)
	First non-zero vh = 46 (2004)
BAD: Have reg_date for 020050543-02 [208] = 1983-10-01 00:00:00 (DOB=10/19/1983, age=-1)
	First non-zero vh = 46 (2004)
No known reg_date for 020069536-02 [209]
	First non-zero vh = 46 (2004)
BAD: Have reg_date for 020078476-02 [210] = 1985-02-19 00:00:00 (DOB=3/15/1985, age=-1)
	First non-zero vh = 46 (2004)
BAD: Have reg_date for 020094327-02 [211] = 1967-11-27 00:00:00 (DOB=11/17/1968, age=-1)
	First non-zero vh = 46 (2004)
BAD: Have reg_date for 020189355-02 [212] = 1983-12-24 00:00:00 (DOB=12/14/1983, age=0)
	First non-zero vh = 47 (2004)
BAD: Have reg_date for 020189655-02 [213] = 1976-06-01 00:00:00 (DOB=06/11/1976, age=-1)
	First non-zero vh = 47 (2004)
BAD: Have reg_date for 020190590-02 [214] = 1968-04-13 00:00:00 (DOB=4/3/1968, age=0)
	First non-zero vh = 47 (2004)
BAD: Have reg_date for 020190937-02 [215] = 1985-10-01 00:00:00 (DOB=10/06/1985, age=-1)
	First non-zero vh = 47 (2004)
BAD: Have reg_date for 020192500-02 [216] = 1959-01-31 00:00:00 (DOB=1/21/1959, age=0)
	First non-zero vh = 47 (2004)
BAD: Have reg_date for 020193030-02 [217] = 1962-06-27 00:00:00 (DOB=6/17/1962, age=0)
	First non-zero vh = 47 (2004)

BAD: Have reg_date for 020193284-02 [218] = 1985-08-13 00:00:00 (DOB=8/3/1985, age=0)
	First non-zero vh = 47 (2004)
BAD: Have reg_date for 020193733-02 [219] = 1965-08-12 00:00:00 (DOB=8/2/1965, age=0)
	First non-zero vh = 47 (2004)
BAD: Have reg_date for 020193967-02 [220] = 1985-09-01 00:00:00 (DOB=09/06/1985, age=-1)
	First non-zero vh = 47 (2004)
No known reg_date for 020194239-02 [221]
	First non-zero vh = 47 (2004)
BAD: Have reg_date for 020199681-02 [222] = 1984-06-19 00:00:00 (DOB=10/3/1984, age=-1)
	First non-zero vh = 47 (2004)
BAD: Have reg_date for 020208175-02 [223] = 1972-04-16 00:00:00 (DOB=4/6/1972, age=0)
	First non-zero vh = 47 (2004)

In [174]:
use_voter_map_reg_date_set = set(['002023120-02', '002023124-02','013586018-02','002157833-02'])
del_vid_set=set(['002965596-02', '003018966-02', '003035174-02'])

In [106]:
# Remove bad vids from voter_map and df
for vid in del_vid_set:
    if(vid in voter_map):
        del voter_map[vid]
        
df['del_vid'] = df[['ID_Number']].apply(lambda x: x[0] in del_vid_set,axis=1)

In [194]:
df[df['del_vid']]

Series([], Name: Vote_History, dtype: object)

In [108]:
df = df[~df['del_vid']].copy()

In [114]:
# Check if we still have any pre-1900 registration dates in voter_map
date_1900=dateparser.parse("1/1/1900")
pre_1900_set = set()

for vid in voter_map.keys():
    if(voter_map[vid]['reg_date']<date_1900):
        print "%s: DOB=%s, reg_date=%r" % (vid, voter_map[vid]['DOB'], voter_map[vid]['reg_date'])
        pre_1900_set.add(vid)

013702487-02: DOB=5/14/1943, reg_date=datetime.datetime(1800, 1, 1, 0, 0)
013702490-02: DOB=4/30/1944, reg_date=datetime.datetime(1800, 1, 1, 0, 0)
013704819-02: DOB=5/24/1944, reg_date=datetime.datetime(1800, 1, 1, 0, 0)
013700904-02: DOB=10/16/1944, reg_date=datetime.datetime(1800, 1, 1, 0, 0)
005349657-02: DOB=7/1/1941, reg_date=datetime.datetime(1800, 1, 1, 0, 0)
013703987-02: DOB=8/8/1946, reg_date=datetime.datetime(1800, 1, 1, 0, 0)
004153846-02: DOB=8/29/1947, reg_date=datetime.datetime(1800, 1, 1, 0, 0)
013577559-02: DOB=8/3/1972, reg_date=datetime.datetime(1800, 1, 1, 0, 0)
005484528-02: DOB=5/11/1969, reg_date=datetime.datetime(1800, 1, 1, 0, 0)
004751175-02: DOB=4/25/1979, reg_date=datetime.datetime(1800, 1, 1, 0, 0)
013845748-02: DOB=10/7/1952, reg_date=datetime.datetime(1800, 1, 1, 0, 0)
013701649-02: DOB=11/6/1947, reg_date=datetime.datetime(1800, 1, 1, 0, 0)
011009132-02: DOB=4/29/1949, reg_date=datetime.datetime(1800, 1, 1, 0, 0)
005522958-02: DOB=10/29/1982, reg_date=datetime.datetime(1800, 1, 1, 0, 0)
005461141-02: DOB=2/15/1942, reg_date=datetime.datetime(1800, 1, 1, 0, 0)
005529745-02: DOB=4/27/1965, reg_date=datetime.datetime(1800, 1, 1, 0, 0)
013700267-02: DOB=12/14/1933, reg_date=datetime.datetime(1800, 1, 1, 0, 0)
013702343-02: DOB=3/23/1941, reg_date=datetime.datetime(1800, 1, 1, 0, 0)
005542845-02: DOB=7/10/1985, reg_date=datetime.datetime(1800, 1, 1, 0, 0)
013703538-02: DOB=6/19/1953, reg_date=datetime.datetime(1800, 1, 1, 0, 0)
010999317-02: DOB=3/14/1951, reg_date=datetime.datetime(1800, 1, 1, 0, 0)
013708598-02: DOB=5/20/1953, reg_date=datetime.datetime(1800, 1, 1, 0, 0)
012856097-02: DOB=7/29/1964, reg_date=datetime.datetime(1800, 1, 1, 0, 0)
013700269-02: DOB=12/19/1935, reg_date=datetime.datetime(1800, 1, 1, 0, 0)
005519851-02: DOB=8/13/1980, reg_date=datetime.datetime(1800, 1, 1, 0, 0)
005513102-02: DOB=1/26/1974, reg_date=datetime.datetime(1800, 1, 1, 0, 0)
005440076-02: DOB=5/14/1971, reg_date=datetime.datetime(1800, 1, 1, 0, 0)
012785819-02: DOB=6/2/1920, reg_date=datetime.datetime(1800, 1, 1, 0, 0)
013703986-02: DOB=6/3/1948, reg_date=datetime.datetime(1800, 1, 1, 0, 0)
011009131-02: DOB=7/29/1949, reg_date=datetime.datetime(1800, 1, 1, 0, 0)
013708599-02: DOB=6/8/1958, reg_date=datetime.datetime(1800, 1, 1, 0, 0)
011007958-02: DOB=3/6/1923, reg_date=datetime.datetime(1800, 1, 1, 0, 0)
013704401-02: DOB=4/9/1942, reg_date=datetime.datetime(1800, 1, 1, 0, 0)
013700411-02: DOB=11/7/1932, reg_date=datetime.datetime(1800, 1, 1, 0, 0)
004106589-02: DOB=6/17/1940, reg_date=datetime.datetime(1800, 1, 1, 0, 0)
013702212-02: DOB=3/11/1934, reg_date=datetime.datetime(1800, 1, 1, 0, 0)
005480278-02: DOB=4/15/1957, reg_date=datetime.datetime(1800, 1, 1, 0, 0)
013702626-02: DOB=11/27/1948, reg_date=datetime.datetime(1800, 1, 1, 0, 0)
013704484-02: DOB=4/8/1948, reg_date=datetime.datetime(1800, 1, 1, 0, 0)
013704981-02: DOB=1/10/1948, reg_date=datetime.datetime(1800, 1, 1, 0, 0)
005536344-02: DOB=12/29/1976, reg_date=datetime.datetime(1800, 1, 1, 0, 0)
013703528-02: DOB=8/18/1944, reg_date=datetime.datetime(1800, 1, 1, 0, 0)
013705118-02: DOB=1/16/1951, reg_date=datetime.datetime(1800, 1, 1, 0, 0)
004328433-02: DOB=11/25/1953, reg_date=datetime.datetime(1800, 1, 1, 0, 0)
013702821-02: DOB=3/24/1943, reg_date=datetime.datetime(1800, 1, 1, 0, 0)
004572811-02: DOB=7/3/1927, reg_date=datetime.datetime(1800, 1, 1, 0, 0)
013708417-02: DOB=4/3/1955, reg_date=datetime.datetime(1800, 1, 1, 0, 0)
013705770-02: DOB=6/14/1952, reg_date=datetime.datetime(1800, 1, 1, 0, 0)
005509913-02: DOB=3/10/1981, reg_date=datetime.datetime(1800, 1, 1, 0, 0)
005464892-02: DOB=8/24/1963, reg_date=datetime.datetime(1800, 1, 1, 0, 0)
005512593-02: DOB=10/16/1983, reg_date=datetime.datetime(1800, 1, 1, 0, 0)
005513687-02: DOB=9/22/1976, reg_date=datetime.datetime(1800, 1, 1, 0, 0)
013706197-02: DOB=12/11/1947, reg_date=datetime.datetime(1800, 1, 1, 0, 0)
013708587-02: DOB=9/3/1935, reg_date=datetime.datetime(1800, 1, 1, 0, 0)
005504525-02: DOB=11/1/1980, reg_date=datetime.datetime(1800, 1, 1, 0, 0)
005528422-02: DOB=5/12/1983, reg_date=datetime.datetime(1800, 1, 1, 0, 0)
005375909-02: DOB=5/17/1932, reg_date=datetime.datetime(1800, 1, 1, 0, 0)
021817396-02: DOB=5/31/1981, reg_date=datetime.datetime(1800, 1, 1, 0, 0)
005536129-02: DOB=1/8/1980, reg_date=datetime.datetime(1800, 1, 1, 0, 0)
013705959-02: DOB=1/27/1955, reg_date=datetime.datetime(1800, 1, 1, 0, 0)
005439320-02: DOB=12/13/1972, reg_date=datetime.datetime(1800, 1, 1, 0, 0)
013604613-02: DOB=10/21/1977, reg_date=datetime.datetime(1800, 1, 1, 0, 0)
005504237-02: DOB=11/25/1977, reg_date=datetime.datetime(1800, 1, 1, 0, 0)
011007814-02: DOB=10/23/1921, reg_date=datetime.datetime(1800, 1, 1, 0, 0)
013705540-02: DOB=8/19/1959, reg_date=datetime.datetime(1800, 1, 1, 0, 0)
013788480-02: DOB=10/4/1981, reg_date=datetime.datetime(1800, 1, 1, 0, 0)
013703833-02: DOB=2/13/1953, reg_date=datetime.datetime(1800, 1, 1, 0, 0)
006608399-02: DOB=8/29/1972, reg_date=datetime.datetime(1800, 1, 1, 0, 0)
013708552-02: DOB=5/4/1944, reg_date=datetime.datetime(1800, 1, 1, 0, 0)
005378289-02: DOB=1/26/1950, reg_date=datetime.datetime(1800, 1, 1, 0, 0)
013610263-02: DOB=12/11/1968, reg_date=datetime.datetime(1800, 1, 1, 0, 0)
005377644-02: DOB=12/3/1940, reg_date=datetime.datetime(1800, 1, 1, 0, 0)
005442143-02: DOB=1/24/1974, reg_date=datetime.datetime(1800, 1, 1, 0, 0)
013708418-02: DOB=9/3/1956, reg_date=datetime.datetime(1800, 1, 1, 0, 0)
005488668-02: DOB=10/3/1978, reg_date=datetime.datetime(1800, 1, 1, 0, 0)
005503707-02: DOB=2/15/1969, reg_date=datetime.datetime(1800, 1, 1, 0, 0)
013705119-02: DOB=10/31/1951, reg_date=datetime.datetime(1800, 1, 1, 0, 0)
006623391-02: DOB=6/24/1975, reg_date=datetime.datetime(1800, 1, 1, 0, 0)
006634725-02: DOB=7/17/1959, reg_date=datetime.datetime(1800, 1, 1, 0, 0)

In [115]:
df['vm_reg_date_bad'] = df[['ID_Number']].apply(lambda x: x[0] in pre_1900_set,axis=1)

In [122]:
df[df['vm_reg_date_bad']][['ID_Number','c19','Date_Of_Birth','c20','Date_Registered']]

           ID_Number     c19 Date_Of_Birth   c20 Date_Registered
780499  005349657-02  070141    07/01/1941  0100      01/01/2004
780500  005377644-02  120340    12/03/1940  0100      01/01/2004
780501  005378289-02  012650    01/26/1950  0100      01/01/2004
780504  005439320-02  121372    12/13/1972  0100      01/01/2004
780505  005440076-02  051471    05/14/1971  0100      01/01/2004
780507  005442143-02  012474    01/24/1974  0100      01/01/2004
780510  005461141-02  021542    02/15/1942  0100      01/01/2004
780511  005464892-02  082463    08/24/1963  0100      01/01/2004
780514  005480278-02  041557    04/15/1957  0100      01/01/2004
780515  005484528-02  051169    05/11/1969  0100      01/01/2004
780518  005488668-02  100378    10/03/1978  0100      01/01/2004
780522  005504237-02  112577    11/25/1977  0100      01/01/2004
780523  005504525-02  110180    11/01/1980  0100      01/01/2004
780529  005512593-02  101683    10/16/1983  0100      01/01/2004
780530  005513102-02  012674    01/26/1974  0100      01/01/2004
780531  005513687-02  092276    09/22/1976  0100      01/01/2004
780535  005519851-02  081380    08/13/1980  0100      01/01/2004
780537  005522958-02  102982    10/29/1982  0100      01/01/2004
780541  005528422-02  051283    05/12/1983  0100      01/01/2004
780543  005529745-02  042765    04/27/1965  0100      01/01/2004
780552  005536129-02  010880    01/08/1980  0100      01/01/2004
780553  005536344-02  122976    12/29/1976  0100      01/01/2004
780587  006634725-02  071759    07/17/1959   nan      01/01/2004
782286  013704401-02  040942    04/09/1942  0100      01/01/2004
782287  013704981-02  011048    01/10/1948  0100      01/01/2004
782289  013708552-02  050444    05/04/1944  0100      01/01/2004

In [183]:
voter_map[list(pre_1900_set)[0]]

{'DOB': '4/3/1955',
 'addr_arr': [{'address': '300 WEXFORD BAYNE RD WEXFORD PA 15090',
   'census_block': u'420034090004029',
   'date': datetime.datetime(2004, 1, 1, 0, 0),
   'latlon': <shapely.geometry.point.Point at 0x7f1f0801a690>}],
 'addresses': {'2017-11': '300 WEXFORD BAYNE RD WEXFORD PA 15090',
  '2018-03': '300 WEXFORD BAYNE RD WEXFORD PA 15090',
  '2018-08': '300 WEXFORD BAYNE RD WEXFORD PA 15090'},
 'reg_date': datetime.datetime(2004, 1, 1, 0, 0),
 'reg_info': {'2017-11': {'party': 'R', 'status': 'A'},
  '2018-03': {'party': 'R', 'status': 'A'},
  '2018-08': {'party': 'R', 'status': 'A'}}}

In [182]:
# Patch up pre-1900 registration dates in voter_map to be 01/01/2004
default_reg_date=dateparser.parse("01/01/2004")

for vid in pre_1900_set:
    if(voter_map[vid]['reg_date']<date_1900):
        print "%s: DOB=%s, reg_date=%r" % (vid, voter_map[vid]['DOB'], voter_map[vid]['reg_date'])
        voter_map[vid]['reg_date']=default_reg_date
        voter_map[vid]['addr_arr'][0]['date']=default_reg_date

In [173]:
'002157833-02' in bad_reg_date_set

False

In [139]:
# Given the value of 'ID_Number', original value of 'Date_Registered', and 'c42' (voting history), return a new value for 'Date_Registered'
def vid_to_reg_date(vid, reg_date_init, vh_str):
    # If reg_date_init is non-null, return it
    # unless it is either in use_voter_map_reg_date_set or pre_1900_set
    if(reg_date_init and not vid in use_voter_map_reg_date_set and 
       not vid in pre_1900_set and not vid in bad_reg_date_set):
        return reg_date_init
    # Don't have it.  Check to see if vid is in voter_map.  If so, return reg_date
    # unless it is either in pre_1900_set
    if(vid in voter_map and not vid in pre_1900_set and not vid in bad_reg_date_set):
        return voter_map[vid]['reg_date'].strftime('%m/%d/%Y')
    
    # Estimate registration date from voting history detail
    # Find first instance of 1 or 2
    vi = vh_str.find('1')
    di = vh_str.find('2')
    # If this person has never voted then both vi and di will be -1.  In that case 
    # set reg_date to 07/01/2009 (quite a few people with no voting record were born in 1991)
    fv_year=None
    if(vi == -1 and di==-1):
        return("07/01/2009")
    elif(vi==-1):
        vi=di
    elif(di==-1):
        di=vi
        
    min_i = min(vi,di)
    # indices 0-3 are filler and are all zeros
    # index 4-5 are 1983, 6-7 are 1984, etc
    fv_year = int(math.floor((min_i-4)/2)+1983)
    return("01/01/{:04d}".format(fv_year))

In [110]:
# Clean up 
df['Date_Registered_orig']=df['Date_Registered']

In [175]:
df['Date_Registered']=df[['ID_Number','Date_Registered','c42']].apply(lambda x: vid_to_reg_date(x[0],x[1],x[2]),axis=1)

In [146]:
df['vm_reg_date']=df[['ID_Number']].apply(lambda x: voter_map[x[0]]['reg_date'].strftime('%m/%d/%Y') if x[0] in voter_map else None,axis=1)

In [170]:
df['dob_dr_mismatch']=df[['ID_Number']].apply(lambda x: x[0] in dob_dr_mismatch_set,axis=1)

In [157]:
'001908780-02' in bad_reg_date_set

True

In [148]:
vid = '001908780-02'
voter_map[vid]['reg_date']

datetime.datetime(1922, 8, 1, 0, 0)

In [149]:
dob = dateparser.parse(voter_map[vid]['DOB'])
reg_td=voter_map[vid]['reg_date']-dob
reg_td>td_17yr

False

In [177]:
# Figure out which voter_map entries should have the reg_date replaced with the 
# one we've calculated here
df_replace_vm_dr = df[df['dob_dr_mismatch'] & (~pd.isna(df['vm_reg_date'])) & (df['vm_reg_date'].str.replace('/\d\d/','')!=df['Date_Registered'].str.replace('/\d\d/',''))][['ID_Number','c19','Date_Of_Birth','c20','Date_Registered','Date_Registered_orig','vm_reg_date']]
df_replace_vm_dr

,ID_Number,c19,Date_Of_Birth,c20,Date_Registered,Date_Registered_orig,vm_reg_date
3185,001908780-02,101639,10/16/1939,0822,01/01/1983,08/01/1922,08/01/1922
10702,001920986-02,061725,06/17/1925,0425,01/01/1983,04/01/1925,04/01/1925
12919,001924580-02,062243,06/22/1943,0634,01/01/1983,06/01/1934,06/01/1934
13734,001925869-02,052628,05/26/1928,0822,01/01/1983,08/01/1922,08/01/1922
15340,001928263-02,112044,11/20/1944,1037,01/01/1983,10/01/1937,10/01/1937
15593,001928625-02,031227,03/12/1927,0920,01/01/1983,09/01/1920,09/01/1920
17627,001931915-02,061373,06/13/1973,0758,01/01/1983,07/01/1958,07/01/1958
35677,001957693-02,111284,11/12/1984,1084,01/01/1983,10/01/1984,10/01/1984
79666,002024372-02,101578,10/15/1978,0844,01/01/1983,08/01/1944,08/01/1944
84722,002032315-02,031549,03/15/1949,0739,01/01/1983,07/01/1939,07/01/1939
86560,002035252-02,082737,08/27/1937,0832,01/01/1983,08/01/1932,08/01/1932
93924,002047283-02,032842,03/28/1942,0823,01/01/1983,08/01/1923,08/01/1923
104650,002061624-02,082683,08/26/1983,0480,01/01/1983,04/01/1980,04/01/1980
158201,002143145-02,020299,02/02/1999,0858,01/01/1983,08/01/1958,08/01/1958
160859,002147415-02,020833,02/08/1933,0831,01/01/1983,08/01/1931,08/01/1931
161705,002148766-02,031480,03/14/1980,0361,01/01/1983,03/01/1961,03/01/1961
163365,002151329-02,090837,09/08/1937,0831,01/01/1983,08/01/1931,08/01/1931
163426,002151415-02,111630,11/16/1930,0821,01/01/1983,08/01/1921,08/01/1921
167216,002157729-02,052741,05/27/1941,0336,01/01/1983,03/01/1936,03/01/1936
171207,002163988-02,112131,11/21/1931,0828,01/01/1983,08/01/1928,08/01/1928
178843,002174373-02,101876,10/18/1976,1076,01/01/1983,10/01/1976,10/01/1976
186136,002184661-02,060183,06/01/1983,0483,01/01/1983,04/01/1983,04/01/1983
188252,002187999-02,092984,09/29/1984,0684,01/01/1983,06/01/1984,06/01/1984
237112,002262554-02,011738,01/17/1938,0328,01/01/1983,03/01/1928,03/01/1928
240126,002267278-02,071797,07/17/1997,0846,01/01/1983,08/01/1946,08/01/1946
240503,002267930-02,022897,02/28/1997,0737,01/01/1983,07/01/1937,07/01/1937
248209,002280231-02,070743,07/07/1943,0827,01/01/1983,08/01/1927,08/01/1927
256341,002291294-02,012177,01/21/1977,1076,01/01/1983,10/01/1976,10/01/1976
257130,002292395-02,041677,04/16/1977,0477,01/01/1983,04/01/1977,04/01/1977
264780,002303561-02,112595,11/25/1995,0384,01/01/1983,03/01/1984,03/01/1984
...,...,...,...,...,...,...,...
702523,002965853-02,041782,04/17/1982,0960,01/01/1983,09/01/1960,09/01/1960
702638,002966031-02,012141,01/21/1941,1037,01/01/1983,10/01/1937,10/01/1937
704182,002968518-02,101033,10/10/1933,0227,01/01/1983,02/01/1927,02/01/1927
704254,002968636-02,101939,10/19/1939,0321,01/01/1983,03/01/1921,03/01/1921
709434,002977152-02,050936,05/09/1936,1034,01/01/1983,10/01/1934,10/01/1934
713950,002984211-02,100127,10/01/1927,0721,01/01/1983,07/01/1921,07/01/1921
718881,002990881-02,011786,01/17/1986,0474,01/01/1983,04/01/1974,04/01/1974
741812,003028302-02,091999,09/19/1999,0691,01/01/1991,06/01/1991,06/01/1991
753221,003047669-02,122398,12/23/1998,0596,01/01/1996,05/01/1996,05/01/1996
777493,004101054-02,102570,10/25/1970,1070,01/01/2004,10/01/1970,10/25/1970
779309,004744449-02,022678,02/26/1978,0261,01/01/2004,02/01/1961,02/01/1961
779427,004757117-02,051080,05/10/1980,0580,01/01/2004,05/01/1980,05/01/1980
781215,011736897-02,110180,11/01/1980,0179,01/01/2004,01/01/1979,01/01/1979
781905,013351098-02,040673,04/06/1973,0421,01/01/2004,04/01/1921,04/01/1921
782985,020006730-02,051079,05/10/1979,0579,01/01/2004,05/01/1979,05/10/1979
793593,020045391-02,061285,06/12/1985,0185,01/01/2004,01/01/1985,01/01/1985
796337,020050543-02,101983,10/19/1983,1083,01/01/2004,10/01/1983,10/01/1983
801645,020078476-02,031585,03/15/1985,0285,01/01/2004,02/01/1985,02/19/1985
803711,020094327-02,111767,11/17/1967,1167,01/01/2004,11/01/1967,11/27/1967
818501,020189355-02,121483,12/14/1983,1283,01/01/2004,12/01/1983,12/24/1983
818601,020189655-02,061176,06/11/1976,0676,01/01/2004,06/01/1976,06/01/1976
818838,020190590-02,040368,04/03/1968,0468,01/01/2004,04/01/1968,04/13/1968
818925,020190937-02,100685,10/06/1985,1085,01/01/2004,10/01/1985,10/01/1985
819218,020192500-02,012159,01/21/1959,0159,01/01/2004,01/01/1959,01/31/1959
819359,020193030-02,061762,06/17/1962,0662,01/01/2004,06/01/1962,06/27/1962
819433,020193284-02,080385,08/03/1985,0885,01/01/2004,08/01/1985,08/13/1985
819545,020193733-02,080265,08/02/1965,0865,01/01/2004,08/01/1965,08/12/1965
819610,020193967-02,090685,09/06/1985,0985,01/01/2004,09/01/1985,09/01/1985
820890,020199681-02,100384,10/03/1984,0684,01/01/2004,06/01/1984,06/19/1984
822811,020208175-02,040672,04/06/1972,0472,01/01/2004,04/01/1972,04/16/1972

In [184]:
# Replace voter_map entries
for i in range(0,len(df_replace_vm_dr)):
    vid = df_replace_vm_dr['ID_Number'].iloc[i]
    new_reg_date = dateparser.parse(df_replace_vm_dr['Date_Registered'].iloc[i])
    voter_map[vid]['reg_date']=new_reg_date
    voter_map[vid]['addr_arr'][0]['date']=new_reg_date

In [185]:
all_vids=sorted(voter_map.keys())

In [187]:
for vid in voter_map:
    if(vid[10:12]!="02"):
        print "%s: (%s)-(%s)\n\t%r" % (vid,vid[0:9],vid[10:12],voter_map[vid])

In [192]:
# Try to save voter_map 
#   voter_map_17_18_18.pickle has 'reg_date' as a string
#   voter_map_17_18_18_b.pickle has 'reg_date' converted to datetime
#   voter_map_09_17_18_18_c.pickle has data from 2009-07
#   voter_map_09_17_18_18_d.pickle has census_block info (full for 15213, partial for all, need to do TODO addresses)
#   voter_map_09_17_18_18_e.pickle has census_block info for all
#   voter_map_09_17_18_18_f.pickle has census_block latlon info for all
#   voter_map_09_17_18_18_g.pickle has fixups from processing of 2005-02 (delete pre-1900 DOB, deal with Date_Registered < DOB+18yrs)

import pickle
voter_map_file_path = 'voters/voter_map_09_17_18_18_g.pickle'

In [193]:
# Save out voter_map
with open(voter_map_file_path, 'wb') as handle:
    pickle.dump(voter_map, handle, protocol=pickle.HIGHEST_PROTOCOL)

# Debug

In [207]:
df[df['ID_Number']=='001934894-02'].iloc[0]

c0                                                                    nan
c1                                                                 020796
c2                                                                    010
c3                                                              001934894
c4                                                                NOWACKI
c5                                                                BARBARA
c6                                                                      A
c7                                                                    nan
c8                                                                    nan
c9                                                                  00261
c10                                                                   nan
c11                                                                111111
c12                                                                   173
c13                                                                    01
c14                                                                    03
c15                                                                  0000
c16                                                                     D
c17                                                                     F
c18                                                                    84
c19                                                                110742
c20                                                                  0372
c21                                                                    00
c22                                                                    05
c23                                                                     A
c24                                                                000000
c25                                                              ARDEN RD
c26                                                                 15216
c27                                                         PITTSBURGH PA
c28                                                            MT LEBANON
c29                                                                    18
                                              ...
c32                                                                   219
c33                                                                    40
c34                                                            MT LEBANON
c35                                                                  0000
c36                                                                    42
c37                                                                    13
c38                                                                   689
c39                                                                    01
c40                                                                    03
c41                                                            MT LEBANON
c42                     0000111111111121111121212222222122211111112111...
c43                                                                  None
Date_Last_Changed                                              02/07/1996
Vote_History            1111111111211111212122222221222111111121111100...
ID_Number                                                    001934894-02
House__                                                               261
HouseNoSuffix                                                        None
StreetNameComplete                                               ARDEN RD
City                                                        PITTSBURGH PA
Zip_Code                                                            15216
Voter_Status                                                            A
Political_Party                                                         D
Date_Of_Birth                                                  11/07/1942
Date_Registered                                                03/01/1972
Date_Registered_orig                                           03/01/1972
del_vid                                                             False
vm_reg_date_bad                                                     False
vm_reg_date                                                    02/07/1996
dob_dr_mismatch                                                     False
DR                                                    1972-03-01 00:00:00
Name: 19928, Length: 62, dtype: object

In [202]:
%%time
df['DR'] = pd.to_datetime(df['Date_Registered'])

CPU times: user 1min 43s, sys: 0 ns, total: 1min 43s
Wall time: 1min 43s

In [ ]:
%%time
df['DOB'] = df['Date_Of_Birth'].map(dateparser.parse)